{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="container main-container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-dark-blue text-white text-center py-3">
                        <h3>{% trans "Password Reset Sent" %}</h3>
                    </div>
                    <div class="card-body p-4 bg-light text-center">
                        <p class="mb-4">{% trans "We have sent you an email with instructions to reset your password." %}</p>
                        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">{% trans "Return to Login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
