{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="container main-container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-dark-blue text-white text-center py-3">
                        <h3>{% trans "Reset your password" %}</h3>
                    </div>
                    <div class="card-body p-4 bg-light">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="d-flex justify-content-start gap-2">
                                {% trans "Reset password" as reset_password %}
                                {% bootstrap_button button_type="submit" button_class='btn btn-primary btn-lg' content=reset_password %}
                                <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">{% trans "Cancel" %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
