{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title new-york">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>{% trans 'Profile' %} - {{ user_obj.first_name }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <section class="course-details-area ptb-100">
        <div class="container">
            <div class="main-body">

                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    {% if request.user.avatar %}
                                        <img class="img-fluid" src="{{ request.user.avatar.url }}">
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'img/none_image_profile.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'Account Level' %}</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user_obj.level }}
                                    </div>
                                </div>
                                <hr>
                                <!-- Прогресс-бар -->
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'Until Next Level' %}</h6>
                                    </div>

                                    <div class="col-sm-9 text-secondary mb-19">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ progress_percentage }}%;"
                                                 aria-valuenow=" {{ user_obj.xp }} / {{ next_level_xp }} XP"
                                                 aria-valuemin="0"
                                                 aria-valuemax="{{ user.get_xp_for_next_level }}"> {{ user_obj.xp }}
                                                / {{ user.get_xp_for_next_level }} XP
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'Your discount' %}</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ discount }}%
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user_obj.email }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'First Name' %}</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user_obj.first_name }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'Last Name' %}</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user_obj.last_name }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'Last Login' %}</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user_obj.last_login }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">{% trans 'Is Teacher' %}</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {% if not is_teacher %}
                                            {% trans 'No' %}
                                        {% else %}
                                            {% if is_approved %}
                                                {% trans 'Yes' %}
                                            {% else %}
                                                {% trans 'Request under consideration' %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% if not is_teacher %}
                            <a href="{% url 'become_teacher' %}" class="btn btn-primary mb-2 me-2">
                                {% trans 'Become Teacher' %}
                            </a>
                        {% else %}
                            {% if is_approved %}
                                <a href="{% url 'teacher_detail' teacher_id %}"
                                   class="btn btn-primary mb-2 me-2">
                                    {% trans 'Teacher admin' %}
                                </a>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'user_update' user_obj.id %}" class="btn btn-primary mb-2 me-2">
                            {% trans 'Edit Profile' %}
                        </a>
                        <a href="{% url 'change_email' user_obj.id %}" class="btn btn-primary mb-2 me-2">
                            {% trans 'Change Email' %}
                        </a>
                        <a href="{% url 'change_password' user_obj.id %}" class="btn btn-primary mb-2 me-2">
                            {% trans 'Change Password' %}
                        </a>
                        <a href="{% url 'logout' %}" class="btn btn-danger mb-2 me-2">
                            {% trans 'Log Out' %}
                        </a>
                    </div>
                </div>

                {% if certificates %}
                    <div class="row mt-24">
                        <div class="col-12">
                            <h2>{% trans 'My Certificates' %}</h2>
                        </div>
                    </div>
                    <div class="row mt-24">
                        {% for purchase in certificates %}
                            <div class="col-lg-4 col-md-6">
                                <div class="courses-item">
                                    <div class="courses-img">
                                        <img src="{{ purchase.course.image.url }}" alt="course">
                                    </div>

                                    <div class="courses-content">
                                        <h3><a href="{% url 'course_detail' purchase.course.pk %}">
                                            {{ purchase.course.title }}
                                        </a></h3>
                                        <p>{{ purchase.course.preview_description }}</p>
                                    </div>

                                    <div class="courses-content-bottom d-flex justify-content-left align-items-left">
                                        <a href="{{ purchase.certificate_file.url }}" target="_blank"
                                           class="btn btn-secondary">
                                            {% trans "View Certificate" %}
                                        </a>
                                        <a href="{{ purchase.certificate_file.url }}" download class="btn btn-primary ml-15">
                                            {% trans "Download" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>



{% endblock %}

{% block footer %}{% endblock %}
