{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row d-flex justify-content-between">
            <div class="col-5 card text-bg-light form-margins">
                <h3>Личный кабинет</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nickname:</td>
                        <td>{{ user_obj.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Email:</td>
                        <td>{{ user_obj.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Имя:</td>
                        <td>{{ user_obj.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Фамилия:</td>
                        <td>{{ user_obj.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Вход:</td>
                        <td>{{ user_obj.last_login }}</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Аватарка:</td>
                        <td>
                            {% if user_obj.avatar %}
                                <img src="{{ user_obj.avatar.url }}" alt="User Avatar"
                                     style="max-width: 200px; max-height: 200px;">
                            {% else %}
                                <img src="{% static 'img/avatar.jpg' %}" alt="User Avatar"
                                     style="max-width: 200px; max-height: 200px;">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td></td>
                        <td>
                            <a href="{% url 'user_update' user_obj.id %}"
                               class="btn btn-primary green user-edit-button">
                                Редактировать
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td></td>
                        <td>
                            <a href="{% url 'change_email' user_obj.id %}"
                               class="btn btn-primary green user-edit-button">
                                Сменить почту
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td></td>
                        <td>
                            <a href="{% url 'change_password' user_obj.id %}"
                               class="btn btn-primary green user-edit-button">
                                Сменить пароль
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#</th>
                        <td></td>
                        <td>
                            <a href="{% url 'logout' %}"
                               class="btn btn-primary green user-edit-button">
                                Выйти из аккаунта
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}