{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Manage Modules" %}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>{% trans "Manage Modules for" %} {{ course.title }}</h2>
                <div>
                    <a href="{% url 'module_create' course.pk %}" class="btn btn-success">
                        <i class="bi bi-plus-lg"></i> {% trans "Add New Module" %}
                    </a>
                </div>
            </div>
            {% if modules %}
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="bg-dark-blue text-white">
                        <tr>
                            <th scope="col">{% trans "Position" %}</th>
                            <th scope="col">{% trans "Title" %}</th>
                            <th scope="col" class="text-center">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                        <tr>
                            <td>{{ module.position }}</td>
                            <td>{{ module.title }}</td>
                            <td class="text-center">
                                <a href="{% url 'module_edit' module.pk %}" class="btn btn-warning btn-sm me-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="{% url 'manage_lessons' module.pk %}" class="btn btn-secondary btn-sm">
                                    <i class="bi bi-gear"></i> {% trans "Manage" %}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
                <p class="mb-0">Showing {{ modules|length }} entries</p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            {% else %}
            <p>{% trans "No modules available." %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
