@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_medium.ttf') format('truetype'); /* 500 - Medium */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_mediumitalic.ttf') format('truetype'); /* 500 - Medium Italic */
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: "Gotham Pro";
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}

.search-input {
    width: 400px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}

.search-button {
    border: 1px solid black;
}

:root {

    /* Font Weights */
    --font-weight-regular: 400; /* Regular */
    --font-weight-medium: 500; /* Medium */
    --font-weight-semibold: 600; /* Semibold */
    --font-weight-bold: 700; /* Bold */
    --font-weight-ultrabold: 800; /* Ultrabold */
}

.main-banner-image {
    background-image: url('/static/new_img/Rectangle.png'); /* Укажите путь к изображению */
    background-size: cover; /* Заставляет изображение покрывать весь элемент */
    background-position: center; /* Центрует изображение */
    background-repeat: no-repeat; /* Отключает повторение изображения */
    height: 904px;
}

.mt--3 {
    margin-top: -3px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-32 {
    margin-top: 32px;
}

.mt-38 {
    margin-top: 38px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-250 {
    margin-top: 250px;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-50 {
    margin-bottom: 50px;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-38 {
    padding-top: 38px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-130 {
    padding-top: 130px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-80 {
    padding-bottom: 80px;
}

.ml-6 {
    margin-left: 6px !important;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-6 {
    margin-right: 6px !important;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

/* Font Weights */
.regular {
    font-weight: var(--font-weight-regular);
}

.medium {
    font-weight: var(--font-weight-medium);
}

.semibold {
    font-weight: var(--font-weight-semibold);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.ultrabold {
    font-weight: var(--font-weight-ultrabold);
}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-50 {
    font-size: 50px;
}

.banner-icon {
    height: 57px;
    width: 82px;
    margin-top: 40px;
}

.green-text {
    color: #30BC83 !important;
}

.white-text {
    color: #FFFFFF;
}

.black-text {
    color: #000000;
}

.inline-block {
    display: inline-block;
}

.text-decoration-none {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.ptс-5 {
    padding-top: 5px;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.input {
    width: 465px;
    height: 55px;
    /*border-top-left-radius: 8px !important;*/
    /*border-bottom-left-radius: 8px !important;*/
    border-radius: 8px !important;
}

.green-button {
    background-color: #30BC83;
    padding: 15px 75px;
    border-radius: 5px;
}

.category-div {
    border-radius: 5px;
    background-color: #CCF6E5;
    /*width: 137px;*/
    height: 37px;
}

.course-card {
    border-radius: 12px;
    border: 1px solid black;
    padding: 25px;
    height: 100%;
}

.course-image {
    border-radius: 8px;
    width: 100%;
}

.text-line-through {
    text-decoration: line-through;
}

.course-language-text {
    padding-top: 3px;
    font-weight: 500;
}

.display-inline-block {
    display: inline-block;
}

.teacher-course-image {
    max-height: 50px !important;
    max-width: 50px !important;
    border-radius: 50%;
    margin-top: 10px;
}

.text-near-icon {
    margin-left: 5px;
}

.rating-div {
    background-color: #CCF6E5;
    padding: 14px;
    border-radius: 8px;
    height: 57px;
}

.diagonal-gradient {
    background: linear-gradient(to bottom right, #FFFFFF, #CEFDBD);
}

.advantages-block {
    height: 758px;
}

.vidgets-block-1 .banner-container, .vidgets-block-2 {
    position: relative; /* Устанавливает относительное позиционирование для контейнера */
}

.banner-image {
    width: 100%; /* Изображение растягивается на всю ширину контейнера */
    height: auto; /* Сохраняет пропорции изображения */
}

.banner-block {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 9.41%; /* Располагает текст по центру вертикально */
    left: 9.41%; /* Располагает текст по центру горизонтально */
    transform: translate(-10%, 9%); /* Центрирует блок по оси X и Y */
    text-align: center; /* Центрирует текст внутри блока */
    background-color: #7878788A; /* Полупрозрачный фон для контраста */
    padding: 20px;
    border-radius: 35px; /* Закруглённые углы для блока */
    width: 450px;
    height: 363px;
}

.banner-block-2 {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 9.41%; /* Располагает текст по центру вертикально */
    right: 15.41%; /* Располагает текст по центру горизонтально */
    transform: translate(-10%, 9%); /* Центрирует блок по оси X и Y */
    text-align: center; /* Центрирует текст внутри блока */
    background-color: #7878788A; /* Полупрозрачный фон для контраста */
    padding: 20px;
    border-radius: 35px; /* Закруглённые углы для блока */
    width: 450px;
    height: 363px;
}

.text-banner-block {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 10%; /* Располагает текст по центру вертикально */
    left: 10%; /* Располагает текст по центру горизонтально */
    transform: translate(-10%, 10%); /* Центрирует блок по оси X и Y */
    text-align: center; /* Центрирует текст внутри блока */
    background-color: #7878788A; /* Полупрозрачный фон для контраста */
    padding: 20px;
    border-radius: 35px; /* Закруглённые углы для блока */
    height: 348px;
    width: 432px;
}

.text-banner-block-2 {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 10%; /* Располагает текст по центру вертикально */
    right: 16%; /* Располагает текст по центру горизонтально */
    transform: translate(-10%, 10%); /* Центрирует блок по оси X и Y */
    text-align: center; /* Центрирует текст внутри блока */
    background-color: #7878788A; /* Полупрозрачный фон для контраста */
    padding: 20px;
    border-radius: 35px; /* Закруглённые углы для блока */
    height: 348px;
    width: 432px;
}

.text-banner-block p {
    margin: 0;
    color: #fff; /* Белый текст */
}

.review-image {
    width: 100%;
    border-radius: 50px;
}

.footer {
    background-color: black;
}

.header {
    height: 120px;
}

.border-top {
    border-top: 1px solid #FFFFFF80;
}


.border-bottom {
    border-bottom: 1px solid #FFFFFF80;
}

.border-bottom-second {
    border-bottom: 1px solid #FFFFFF80;
}

.border-right {
    border-right: 1px solid #FFFFFF80;
}

.footer-icon-site {
    height: 30px;
    width: 30px;
}

.right-footer-block {
    height: 130px;
}

.arrow {
    margin-top: -5px;
    width: 22px;
    height: 17px;
}

.carousel-inner {
    height: 130px;
    background: #CCF6E5;
}

.tag-button {
    padding: 12px 32px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.submit-button {
    border: none;
    background: none;
    margin-left: -57px !important;
}

/*#searchFormNews {*/
/*    display: flex; !* Flexbox *!*/
/*    justify-content: flex-end; !* Выровнять по правому краю *!*/
/*}*/


.preloader-area {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    background: #fff;
    right: 0;
    bottom: 0;
}

.preloader-area .loader {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin-top: -68px;
}

.preloader-area .dots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80px;
}

.preloader-area .dots-item {
    position: relative;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    height: 16px;
    font-size: 0;
}

.preloader-area .dots-item-move-up {
    animation: 0.8s move-up linear infinite;
}

.preloader-area .dots-item-move-right {
    animation: 0.8s move-right linear infinite;
}

.preloader-area .dots-item-move-down {
    animation: 0.8s move-down linear infinite;
}

.preloader-area .dots-item-move-left {
    animation: 0.8s move-left linear infinite;
}

.preloader-area .dots-item::after {
    content: "";
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: #30BC83;
    border-radius: 50%;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 10px 0px;
}

.dropdown-content a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-change-lang {
    padding-top: 10px;
    border: none;
}

.block {
    display: block;
}

.icon-height-width-34 {
    height: 34px;
    width: 34px;
}

.level-badge {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #ff9800, #ff5722);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.6);
    position: relative;
}

.level-badge::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(255, 87, 34, 0.5);
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .main-banner-image {
        background-image: url('/static/new_img/main_image_mobile.png'); /* Укажите путь к изображению */
        background-size: cover; /* Заставляет изображение покрывать весь элемент */
        height: 823px;
    }

    .banner-icon {
        display: none;
    }

    .font-14-mobile {
        font-size: 14px !important;
    }

    .font-16-mobile {
        font-size: 16px !important;
    }

    .font-20-mobile {
        font-size: 20px !important;
    }

    .font-24-mobile {
        font-size: 24px !important;
    }

    .search-button {
        padding: 15px 15px;
    }

    .search-input {
        max-width: 300px !important;
        font-size: 14px;
    }

    .advantages-block {
        height: auto;
    }

    .banner-block {
        width: 291px;
        height: 235px;
    }

    .text-banner-block {
        height: 222px;
        width: 278px;
    }

    .banner-block-2 {
        width: 291px;
        height: 235px;
    }

    .text-banner-block-2 {
        height: 222px;
        width: 278px;
        right: 17%;
    }

    .display-none-mobile {
        display: none;
    }
}