{% extends 'new_base.html' %}
{% load i18n %}
{% load format_date %}
{% load static %}

{% block title %}{% trans 'Blog' %}{% endblock %}


{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>{% trans 'PDGA Blog' %}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Blog Area -->
    <section class="blog-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-lg-6 col-md-6">
                                <div class="single-card-post">
                                    <div class="blog-img">
                                        <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.image_list.url }}"
                                                                                       alt="blog"></a>

                                        <div class="date"><span>{{ post.created_at|format_date:current_lang }}</span>
                                        </div>
                                    </div>

                                    <div class="blog-card-content">
                                        <h3>
                                            <a href="{% url 'post_detail' post.pk %}">
                                                {% if request.LANGUAGE_CODE == 'en' %}
                                                    {{ post.title_en }}
                                                {% else %}
                                                    {{ post.title_ru }}
                                                {% endif %}
                                            </a>
                                        </h3>

                                        <a href="{% url 'post_detail' post.pk %}" class="read-more">
                                            <span class="left"><i class="icofont-rounded-double-right"></i></span>
                                            {% trans 'Read More' %}
                                            <span class="right"><i class="icofont-rounded-double-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {# Пагинация #}
                    {% if posts %}
                        {% include 'partial/pagination.html' %}
                    {% else %}
                        <h5>{% trans 'No results were found for your request. Try again' %}</h5>
                    {% endif %}

                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="side-bar mb-0">
                        <div class="single-widget search-box">
                            <h3 class="title">Search</h3>
                            <form id="searchFormPosts" method="get" action="">
                                <input type="text" id="searchPosts" class="form-control" placeholder="Search..."
                                       name="search_query" value="{{ search_query }}">
                                <button type="submit" class="btn btn-primary"><i class="icofont icofont-search"></i>
                                </button>
                            </form>
                        </div>


                        <div class="single-widget tags-box">
                            <h3 class="title">{% trans 'Popular Tags' %}</h3>
                            <ul>
                                <li><a href="{% url 'post_list' %}?tag=" class="{% if not selected_tag %}selected{% endif %}"
                                       data-tag="">
                                    {% if request.LANGUAGE_CODE == 'en' %}
                                        All
                                    {% else %}
                                        Все
                                    {% endif %}
                                </a></li>

                                {% for tag in tags %}
                                    <li><a href="{% url 'post_list' %}?tag={{ tag.slug }}"
                                           class="{% if selected_tag == tag.slug %}selected{% endif %}"
                                           data-tag="{{ tag.slug }}">
                                        {% if request.LANGUAGE_CODE == 'en' %}
                                            {{ tag.name_en }}
                                        {% else %}
                                            {{ tag.name_ru }}
                                        {% endif %}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

