{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Contact PDGA' %}{% endblock %}

{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title new-york">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>{% trans 'Contact Us' %}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Contact Area -->
    <section class="contact-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="contact-box">
                        <div class="icon">
                            <i class="icofont-phone"></i>
                        </div>

                        <div class="content">
                            <h4>{% trans 'Phone / Fax' %}</h4>
                            <p><a href="tel:+77052889271">+7 (705) 288-92-71</a></p>
                            <p><a href="tel:+77273802349">+7 (727) 380-23-49</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="contact-box">
                        <div class="icon">
                            <i class="icofont-envelope"></i>
                        </div>

                        <div class="content">
                            <h4>E-mail</h4>
                            <p><a href="mailto:info@boston-school.kz">info@boston-school.kz</a></p>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="contact-box">
                        <div class="icon">
                            <i class="icofont-google-map"></i>
                        </div>

                        <div class="content">
                            <h4>{% trans 'Location' %}</h4>
                            <p>{% trans 'Zheltoksan 37 "Trade Union"' %} <span>{% trans 'Almaty, Kazakhstan' %}</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <!-- Map Area -->
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d443.88645806258364!2d76.93728428724297!3d43.26576476855058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836ea1773f7ef1%3A0xa6c17b8bc2c48d1c!2z0YPQu9C40YbQsCDQltC10LvRgtC-0LrRgdCw0L0gMzcsINCQ0LvQvNCw0YLRiyAwNTAwMDA!5e0!3m2!1sru!2skz!4v1730919989290!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- End Map Area -->
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="leave-your-message">
                        <h3>{% trans 'Leave Your Message' %}</h3>
                        <p>
                            {% trans "If you have any questions about the services we provide simply use the form below. We try and respond to all queries and comments within 24 hours." %}
                        </p>

                        <div class="stay-connected">
                            <h3>{% trans 'Stay Connected' %}</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont-facebook"></i>

                                        <span>Facebook</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icofont-twitter"></i>

                                        <span>Twitter</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icofont-pinterest"></i>

                                        <span>Pinterest</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icofont-vimeo"></i>

                                        <span>Vimeo</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                   <form id="contactFormContactUs" method="post" enctype="multipart/form-data" action="{% url 'send_email' %}">
                       {% csrf_token %} 
                       <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="name">{% trans 'Name*' %}</label>
                                    <input type="text" class="form-control" name="name" id="name" required
                                           data-error="{% trans 'Please enter your name' %}" value="{{ form.name.value }}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="email">Email*</label>
                                    <input type="email" class="form-control" name="email" id="email" required
                                           data-error="{% trans 'Please enter your email"' %}" value="{{ form.email.value }}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="number">{% trans 'Phone Number*' %}</label>
                                    <input type="text" class="form-control" name="number" id="number" required
                                           data-error="{% trans 'Please enter your number' %}" value="{{ form.number.value }}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="message">{% trans 'Message*' %}</label>
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                                              required data-error="{% trans 'Write your message' %}">
                                        {{ form.message.value }}
                                    </textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="btn btn-primary">{% trans "Send Message" %}</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Area -->
{% endblock %}

{#{% extends 'base.html' %}#}
{#{% load i18n %}#}
{#{% load static %}#}
{##}
{#{% block links %}#}
{#    <link rel="stylesheet" href="{% static 'css/help.css' %}">#}
{#{% endblock %}#}
{##}
{#{% block title %}{% trans "Help" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="content-wrap ">#}
{#        <!-- Page title-->#}
{#        <div class="position-relative py-210">#}
{#            <div class="background">#}
{#                <div class="background-image jarallax" data-jarallax="" data-speed="0.8" style="z-index: 0;">#}
{#                    <div id="jarallax-container-0"#}
{#                         style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);">#}
{#                        <img class="jarallax-img" loading="lazy" src="{% static 'img/help/contact-hero-1920x900.jpg' %}"#}
{#                             alt="Image contact"#}
{#                             style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 1905px; height: 563.6px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 167.2px; transform: translate3d(0px, -192.4px, 0px);">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="background-color" style="--background-color: #000; opacity: .25;"></div>#}
{#            </div>#}
{#            <div class="container">#}
{#                <h1 class="text-white mb-0 text-center">{% trans "Contact PDGA" %}</h1>#}
{#            </div>#}
{#        </div>#}
{#        <div class="pt-120 pb-180 footerPrev">#}
{#            <div class="container">#}
{#                <div class="row gy-50">#}
{#                    <div class="col-lg-4">#}
{#                        <!-- Item-->#}
{#                        <div class="d-flex animated" data-show="startbox"#}
{#                             style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">#}
{#                            <div class="flex-shrink-0">#}
{#                                <svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                     fill="none">#}
{#                                    <path fill="currentColor"#}
{#                                          d="M16 11.98v2.408a1.604 1.604 0 0 1-1.094 1.527 1.613 1.613 0 0 1-.66.079 15.941 15.941 0 0 1-6.943-2.465A15.672 15.672 0 0 1 2.476 8.71a15.869 15.869 0 0 1-2.47-6.96A1.603 1.603 0 0 1 .96.136C1.163.047 1.384 0 1.607 0h2.414A1.61 1.61 0 0 1 5.63 1.381c.102.77.29 1.528.563 2.256a1.603 1.603 0 0 1-.362 1.694l-1.022 1.02a12.86 12.86 0 0 0 4.827 4.817l1.022-1.02a1.61 1.61 0 0 1 1.697-.36c.73.271 1.489.46 2.26.561A1.61 1.61 0 0 1 16 11.98Z"></path>#}
{#                                </svg>#}
{#                            </div>#}
{#                            <div class="flex-grow-1 ms-15">#}
{#                                <h5 class="m-0">Contact info:</h5>#}
{#                                <p class="m-0 mt-15">Email: info@boston-school.kz <br>Phone: +7 (705) 288-92-72</p>#}
{#                            </div>#}
{#                        </div><!-- Item-->#}
{#                        <div class="d-flex mt-50 animated" data-show="startbox" data-show-delay="100"#}
{#                             style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">#}
{#                            <div class="flex-shrink-0">#}
{#                                <svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="15" height="17"#}
{#                                     fill="none">#}
{#                                    <path fill="currentColor" fill-rule="evenodd"#}
{#                                          d="M7.5 17S15 12.364 15 6.955c0-1.845-.79-3.614-2.197-4.918C11.397.733 9.49 0 7.5 0 5.51 0 3.603.733 2.197 2.037.79 3.34 0 5.11 0 6.955 0 12.364 7.5 17 7.5 17ZM10 7.286c0 1.341-1.12 2.428-2.5 2.428S5 8.627 5 7.286c0-1.342 1.12-2.429 2.5-2.429S10 5.944 10 7.286Z"#}
{#                                          clip-rule="evenodd"></path>#}
{#                                </svg>#}
{#                            </div>#}
{#                            <div class="flex-grow-1 ms-15">#}
{#                                <h5 class="m-0">Address:</h5>#}
{#                                <p class="m-0 mt-15">pr. Nazarbayeva 65 <br>Almaty, Kazakhstan</p>#}
{#                            </div>#}
{#                        </div><!-- Item-->#}
{#                        <div class="d-flex mt-50 animated" data-show="startbox" data-show-delay="200"#}
{#                             style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">#}
{#                            <div class="flex-shrink-0">#}
{#                                <svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                     fill="none">#}
{#                                    <path fill="currentColor" fill-rule="evenodd"#}
{#                                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.7 3.379a1 1 0 1 0-2 0v4.8a1 1 0 0 0 .553.894l3.2 1.6a1 1 0 1 0 .894-1.789L8.7 7.561V3.379Z"#}
{#                                          clip-rule="evenodd"></path>#}
{#                                </svg>#}
{#                            </div>#}
{#                            <div class="flex-grow-1 ms-15">#}
{#                                <h5 class="m-0">Hours of operation:</h5>#}
{#                                <p class="m-0 mt-15">Monday - Friday <br>10:00 am - 7:30 pm</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-8 animated" data-show="startbox" data-show-delay="300"#}
{#                         style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">#}
{#                        <!-- Form-->#}
{#                        <form method="post" enctype="multipart/form-data" action="{% url 'send_email' %}">#}
{#                            {% csrf_token %}#}
{#                            <div class="row gy-40">#}
{#                                <!-- Name Field -->#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <input class="form-control" type="text" name="name"#}
{#                                           placeholder="Your Name *" value="{{ form.name.value }}">#}
{#                                </div>#}
{##}
{#                                <!-- Last Name Field -->#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <input class="form-control" type="text" name="last_name"#}
{#                                           placeholder="Your Last Name *" value="{{ form.last_name.value }}">#}
{#                                </div>#}
{##}
{#                                <!-- Email Field -->#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <input class="form-control" type="email" name="email"#}
{#                                           placeholder="Your Email *" value="{{ form.email.value }}">#}
{#                                </div>#}
{##}
{#                                <!-- Phone Field -->#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <input class="form-control" type="tel" name="phone"#}
{#                                           placeholder="Your Phone *" value="{{ form.phone.value }}">#}
{#                                </div>#}
{##}
{#                                <!-- Message Field -->#}
{#                                <div class="col-12 mb-10">#}
{#                                    <textarea class="form-control" name="message" rows="2" placeholder="Message *">#}
{#                                        {{ form.message.value }}#}
{#                                    </textarea>#}
{#                                </div>#}
{#                                #}
{#                                <!-- Attach File Field -->#}
{#                                <div class="col-12 col-md-6 col-lg-5">#}
{#                                    <div class="form-attach-file"><label class="form-attach-label" for="formFile"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" fill="none">#}
{#                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M24 12.251 13.126 22.953A7.162 7.162 0 0 1 8.103 25a7.162 7.162 0 0 1-5.022-2.047A6.935 6.935 0 0 1 1 18.009c0-1.854.748-3.632 2.08-4.943L13.955 2.365A4.775 4.775 0 0 1 17.303 1c1.256 0 2.46.491 3.348 1.365a4.624 4.624 0 0 1 1.387 3.295 4.624 4.624 0 0 1-1.387 3.296L9.766 19.657a2.387 2.387 0 0 1-1.675.683c-.627 0-1.23-.246-1.674-.683a2.312 2.312 0 0 1-.693-1.648c0-.618.25-1.21.693-1.647l10.046-9.875"></path>#}
{#                                            </svg>Attach file</label><input class="form-control" type="file" id="formFile" hidden="" name="attach_file"></div>#}
{#                                </div>#}
{##}
{#                                #}
{#                                <div class="col-12 col-md-6 col-lg-5">#}
{#                                    <input class="form-control" type="file" name="attach_file">#}
{#                                </div>#}
{##}
{#                                <!-- Agreement Checkbox -->#}
{#                                <div class="col-12 col-md-6 col-lg-5">#}
{#                                    <div class="form-check">#}
{#                                        <input class="form-check-input" type="checkbox" name="agree" id="personalData"#}
{#                                               required>#}
{#                                        <label class="form-check-label" for="personalData">#}
{#                                            I agree with the processing of personal data *#}
{#                                        </label>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <!-- Submit Button -->#}
{#                                <div class="col-12 col-lg-2 text-start text-lg-end">#}
{#                                    <button class="btn btn-accent-1" type="submit">Send</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{##}
