{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load format_date %}

{% block content %}

    <!-- Главный баннер -->
    <div class="main-banner-image">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <img src="{% static 'new_img/Group.png' %}" alt="иконка на баннере" class="banner-icon">
                    <p class="font-20 semibold green-text mt-120">
                        {% trans 'Learn online and conquer heights.' %}
                    </p>
                    <h1 class="font-50 medium white-text mt-32">
                        {% trans 'Opening the doors to your Future by making learning Accessible and inspiring' %}
                    </h1>
                    <p class="font-20 medium white-text mt-32 mb-50">
                        {% trans 'Affordable online courses to develop skills, improve your qualifications and achieve your goals. Learn when and where it suits you.' %}
                    </p>
                    <a class="font-20 medium white-text green-button text-decoration-none">
                        {% trans 'Find out more' %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма поиска -->
    <div class="container mt-60 mb-60">
        <div class="form-group text-align-right">
            <form id="searchFormNews" method="get" action="" class="inline-block">
                <div class="input-group ">
                    <i class="bi bi-search"></i>
                    <input type="text" id="searchNews" name="search_query"
                           class="font-20 medium input"
                           placeholder="{% trans 'Find the course that suits you' %}"
                           value="{{ search_query }}">
                    <button type="submit" class="submit-button">
                        <img src="{% static 'new_img/serach_icon.png' %}" alt="Поиск">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Slider категорий -->
    <div id="carouselExampleControls" class="carousel slide mb-60" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item text-align-center active pt-48">
                <a href="#" class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15">
                    {% trans 'UX/UI design' %}
                </a>
                <a href="#" class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15">
                    {% trans 'Marketing and advertising' %}
                </a>
                <a href="#" class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15">
                    {% trans 'Languages' %}
                </a>
                <a href="#" class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15">
                    {% trans 'Mathematics' %}
                </a>
            </div>
            <div class="carousel-item">
                <a href="#" class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15">
                    {% trans 'Mathematics' %}
                </a>
            </div>
            <div class="carousel-item">
            </div>
        </div>
    </div>

    <!-- Курсы -->
    <div class="course-list">
        <div class="container">
            <div class="row">
                {% for course in courses %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="course-card">

                            <img class="img-fluid course-image" src="{{ course.image.url }}" alt="{{ course.title }}">

                            <div class="row mt-24">
                                <div class="col-2">
                                    <img src="{{ course.teacher.profile_image.url }}" alt="{{ course.title }}"
                                         class="teacher-course-image">
                                </div>
                                <div class="col-6">
                                    <p class="font-18 regular black-text mt-15">
                                        {{ course.teacher.fullname }}
                                    </p>
                                </div>
                                <div class="col-4 category-div mt-10">
                                    <p class="font-18 regular black-text text-align-center">

                                    </p>
                                </div>

                                <div class="col-12 mt-24">
                                    <p class="font-20 medium black-text">
                                        {{ course.title }}
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-24">
                                <div class="col-6">
                                    <img src="{% static 'new_img/Vector.png' %}" alt="Часы" class="mt--3">
                                    <p class="font-18 regular black-text inline-block text-near-icon">
                                        {% trans '30 hours' %}
                                    </p>
                                </div>

                                <div class="col-6 text-align-right">
                                    <img src="{% static 'new_img/Vector2.png' %}" alt="Часы" class="mt--3">
                                    <p class="font-18 regular black-text inline-block text-near-icon">
                                        {% trans '2 curators' %}
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-24">
                                <div class="col-12 rating-div">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="font-20 medium">
                                                {{ course.price|floatformat:0 }} тг.
                                            </p>
                                        </div>
                                        <div class="col-6 text-align-right">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Преимущества -->
    <div class="advantages-block mt-60 diagonal-gradient">
        <div class="container pt-60">
            <h3 class="font-32 text-align-center">
                {% trans 'Benefits of Taking Courses on SkillSpring' %}
            </h3>

            <div class="row mt-60">

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/Group2.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Expert authors' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'The courses are taught by practicing specialists with real experience in their field.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/book.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Current materials' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'The curriculum is updated to take into account the latest trends and technologies.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/tree.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Practical tasks' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Emphasis on real projects to apply knowledge in work.' %}
                    </p>
                </div>
            </div>

            <div class="row mt-60">
                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/lamp.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Flexibility of learning' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Study at your convenience and in any place.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/files.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Access to unique content' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Exclusive video tutorials and materials not available on other platforms.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/certificate.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Certificates and Portfolio' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Upon completion of the courses, you receive certificates that can be useful in your career.' %}
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Блок с виджетами -->
    <div class="vidgets-block-1 mt-100">
        <div class="container">
            <div class="banner-container">
                <img src="{% static 'new_img/banner1.png' %}" alt="люди за компьютерами" class="banner-image">
                <div class="banner-block"></div>
                <div class="text-banner-block d-flex flex-column justify-content-between">
                    <p class="font-24 semibold white-text text-align-left">
                        {% trans 'Join our courses and develop with confidence!' %}
                    </p>
                    <div class="text-align-left">
                        <img src="{% static 'new_img/arrow-right.png' %}" alt="стрелка вправо">
                        <p class="font-14 regular white-text inline-block ml-6">
                            {% trans 'Connect' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vidgets-block-2 mt-32">
        <div class="container">
            <div class="banner-container">
                <img src="{% static 'new_img/banner2.png' %}" alt="люди за совещанием" class="banner-image">
                <div class="banner-block-2"></div>
                <div class="text-banner-block-2 d-flex flex-column justify-content-between">
                    <p class="font-24 semibold white-text text-align-left">
                        {% trans 'Join our courses and develop with confidence!' %}
                    </p>
                    <div class="text-align-left">
                        <img src="{% static 'new_img/arrow-right.png' %}" alt="стрелка вправо">
                        <p class="font-14 regular white-text inline-block ml-6">
                            {% trans 'Connect' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="review-block mt-100">
        <div class="container">
            <img src="{% static 'new_img/frame.png' %}" alt="Student reviews" class="review-image">
        </div>
    </div>



{% endblock %}