{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load format_date %}

{% block content %}

    <!-- Главный баннер -->
    <div class="main-banner-image">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <img src="{% static 'new_img/Group.png' %}" alt="иконка на баннере" class="banner-icon">
                    <p class="font-20 semibold green-text mt-120">
                        {% trans 'Learn online and conquer heights.' %}
                    </p>
                    <h1 class="font-50 medium white-text mt-32">
                        {% trans 'Opening the doors to your Future by making learning Accessible and inspiring' %}
                    </h1>
                    <p class="font-20 medium white-text mt-32 mb-50">
                        {% trans 'Affordable online courses to develop skills, improve your qualifications and achieve your goals. Learn when and where it suits you.' %}
                    </p>
                    <a class="font-20 medium white-text green-button text-decoration-none" href="{% url 'course_list' %}">
                        {% trans 'Go to courses' %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма поиска -->
    <div class="container mt-60 mb-60">
        <div class="form-group text-align-right">
            <form id="searchFormNews" method="get" action="" class="inline-block">
                <div class="input-group ">
                    <i class="bi bi-search"></i>
                    <input type="text" id="searchNews" name="search_query"
                           class="font-20 medium input"
                           placeholder="{% trans 'Find the course that suits you' %}"
                           value="{{ search_query }}">
                    <button type="submit" class="submit-button">
                        <img src="{% static 'new_img/serach_icon.png' %}" alt="Поиск">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Slider категорий -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <!-- Добавляем "All" (Все) и разбиваем теги на группы по 3 -->
            {% for chunk in tags %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-block w-100 text-align-center pt-48">
                        <a href="#" class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15"
                           data-code="all">
                            {% if request.LANGUAGE_CODE == 'en' %}
                                All
                            {% else %}
                                Все
                            {% endif %}
                        </a>
                        {% for tag in chunk %}
                            {% if tag %}
                                <a href="#"
                                   class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15"
                                   data-code="{{ tag.code }}">
                                    {% if request.LANGUAGE_CODE == 'en' %}
                                        {{ tag.name_en }}
                                    {% else %}
                                        {{ tag.name_ru }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <!-- Кнопки переключения -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>

    <!-- Курсы -->
    <div id="course-list" class="course-list mt-60">
        {% include 'course/course_list_main_page.html' %}
    </div>

    <!-- Преимущества -->
    <div class="advantages-block mt-60 diagonal-gradient">
        <div class="container pt-60">
            <h3 class="font-32 text-align-center">
                {% trans 'Benefits of Taking Courses on SkillSpring' %}
            </h3>

            <div class="row mt-60">

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/Group2.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Expert authors' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'The courses are taught by practicing specialists with real experience in their field.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/book.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Current materials' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'The curriculum is updated to take into account the latest trends and technologies.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/tree.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Practical tasks' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Emphasis on real projects to apply knowledge in work.' %}
                    </p>
                </div>
            </div>

            <div class="row mt-60">
                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/lamp.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Flexibility of learning' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Study at your convenience and in any place.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/files.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Access to unique content' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Exclusive video tutorials and materials not available on other platforms.' %}
                    </p>
                </div>

                <div class="col-12 col-lg-4">
                    <img src="{% static 'new_img/certificate.png' %}" alt="Авторы">
                    <h5 class="font-20 medium mt-8">
                        {% trans 'Certificates and Portfolio' %}
                    </h5>
                    <p class="font-18 regular mt-24">
                        {% trans 'Upon completion of the courses, you receive certificates that can be useful in your career.' %}
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Блок с виджетами -->
    <div class="vidgets-block-1 mt-100">
        <div class="container">
            <div class="banner-container">
                <img src="{% static 'new_img/banner1.png' %}" alt="люди за компьютерами" class="banner-image">
                <div class="banner-block"></div>
                <div class="text-banner-block d-flex flex-column justify-content-between">
                    <p class="font-24 semibold white-text text-align-left">
                        {% trans 'Join our courses and develop with confidence!' %}
                    </p>
                    <div class="text-align-left">
                        <img src="{% static 'new_img/arrow-right.png' %}" alt="стрелка вправо">
                        <p class="font-14 regular white-text inline-block ml-6">
                            {% trans 'Connect' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vidgets-block-2 mt-32">
        <div class="container">
            <div class="banner-container">
                <img src="{% static 'new_img/banner2.png' %}" alt="люди за совещанием" class="banner-image">
                <div class="banner-block-2"></div>
                <div class="text-banner-block-2 d-flex flex-column justify-content-between">
                    <p class="font-24 semibold white-text text-align-left">
                        {% trans 'Join our courses and develop with confidence!' %}
                    </p>
                    <div class="text-align-left">
                        <img src="{% static 'new_img/arrow-right.png' %}" alt="стрелка вправо">
                        <p class="font-14 regular white-text inline-block ml-6">
                            {% trans 'Connect' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="review-block mt-100">
        <div class="container">
            <img src="{% static 'new_img/frame.png' %}" alt="Student reviews" class="review-image">
        </div>
    </div>

    <!-- JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tagLinks = document.querySelectorAll('.tag-button');

            tagLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const tagCode = this.getAttribute('data-code');

                    fetchCourses(tagCode);
                });
            });
        });

        function fetchCourses(tagCode) {
            fetch(`/filter_courses/?tag_code=${tagCode}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('course-list').innerHTML = data;
                })
                .catch(error => console.error('Ошибка при загрузке курсов:', error));
        }
    </script>

    {#<!-- jQuery Min JS -->#}
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Min JS -->
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>


{% endblock %}