{% extends 'base.html' %}

{% block title %}Редактирование модуля{% endblock %}

{% block content %}
    <div class="container main-container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm form-margins">
                    <div class="card-header text-center bg-dark-blue text-white">
                        <h3>Редактирование модуля</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% include 'partial/add_update_form.html' with button_text='Редактировать' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
