* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    font-family: "Inter", sans-serif !important;
}

.text-color {
    color: #293056;
}

.courses-padding {
    padding-top: 6rem;
}

.margin-blocks {
    margin-top: 6rem;
}

.header {
    background-color: rgba(0, 26, 44, 0.1); /* Прозрачный фон (0.8 — уровень прозрачности) */
    color: white;
    position: absolute; /* Фиксируем хэдер */
    top: 0; /* Прикрепляем к верху */
    width: 100%; /* Хэдер будет занимать всю ширину */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы хэдер был поверх другого контента */
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-light .navbar-toggler-icon-burger {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../../icons/burger.png') !important;
}

.navbar-light .navbar-toggler-icon-phone {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../../icons/phone.png') !important;

}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;


}

.logo img {
    height: 50px; /* Изменить по необходимости */
}

.header__burger-btn {
    position: relative;
    border: none;
    background-image: linear-gradient(#293056B2, #293056B2);
    background-color: #293056;
    display: none;
}


.menu-list {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.contacts {
    list-style: none;
}

.contacts a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    display: grid;
    list-style: none;
}

.contacts a:hover {
    text-decoration: underline;
}


.swiper-container {
    width: 100%;
    height: 100vh; /* Слайдер на весь экран */
    overflow: hidden;

}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#293056B2, #293056B2); /* Черный полупрозрачный слой */
    z-index: 1; /* Этот слой будет над фоновым изображением, но под текстом */
}

.first-slide {
    background: url('../../img/main_page/img.png') no-repeat center center;
    background-size: cover;

}

.first-slide-btn {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05); /* полупрозрачный фон */
    backdrop-filter: blur(24px); /* степень размытия */
    border: 1px solid rgba(255, 255, 255, 1); /* добавление границы (опционально) */
    color: white; /* цвет текста */
    font-size: 28px;
    padding: 6px 12px 6px 12px; /* внутренние отступы */
    text-decoration: none; /* убрать подчеркивание */
    transition: background 0.3s; /* анимация фона при наведении */
}

.second-slide {
    background: url('../../img/main_page/img_6.png') no-repeat center center;
    background-size: cover;

}

.second-slide-btn {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 1); /* добавление границы (опционально) */
    color: white; /* цвет текста */
    background: rgba(255, 0, 0, 1);
    text-decoration: none; /* убрать подчеркивание */
    font-size: 28px;
    padding: 6px 12px 6px 12px; /* внутренние отступы */

}

.thirty-slide {
    background: url('../../img/main_page/img_5.png') no-repeat center center;
    background-size: cover;

}

.thirty-slide-btn {
    border-radius: 12px;
    color: rgba(180, 35, 24, 1); /* цвет текста */
    border: 2px solid rgba(180, 35, 24, 1);
    background: rgba(255, 255, 255, 1);
    text-decoration: none; /* убрать подчеркивание */
    font-size: 28px;
    padding: 6px 12px 6px 12px; /* внутренние отступы */
}

/* Стили для контейнера пагинации */
.swiper-pagination {
    position: absolute;
    width: 100%;
    text-align: center;

}

/* Стили для точек пагинации */
.swiper-pagination-bullet {
    width: 30px !important; /* Ширина точки */
    height: 30px !important; /* Высота точки */
    border: 3px solid white;
    border-radius: 50% !important; /* Закругленные точки */
}

/* Стили для активной точки пагинации */
.swiper-pagination-bullet-active {
    background-color: white !important; /* Белый цвет для активной точки */
    border-color: white !important; /* Оставляем белую границу */
}

.slide-content {
    text-align: center;
    color: white;
    position: relative; /* Это нужно, чтобы z-index сработал */
    z-index: 2;
    top: 30%;
}

.slide-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}


.swiper-pagination-bullet {
    background-color: white;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}


.course-card {
    background-color: white;
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-img {
    max-width: 100%; /* Ограничение по размеру */
    height: auto;
    object-fit: contain;
}

.course-text {
    background-color: #1a1a4c;
    color: white;
    font-size: 36px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0px;
}

/*Консультация*/
.consult {
    text-align: center;
}

.consult-header {
    font-size: 60px;
}

.consult-text {
    font-size: 36px;
}

.consult-take {
    width: auto;
    font-weight: 400;
    border-radius: 8px !important;
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
    font-size: 36px !important;
}

/*Польза*/

.highlight {
    color: #d31f36;
}

.benefit-title {
    font-weight: bold;
    color: #1f1f60;
}

.divider {
    border-bottom: 2px solid #d31f36;
    margin: 10px 0;
}

.benefits .icon {
    color: #1f1f60;
    margin-right: 10px;
}


.image-container {
    border-right: 2px solid #B42318;
}

.image-container img {
    max-width: 90%;
}

.benefits li {
    margin-bottom: 20px;
}

.text-size-60 {
    font-size: 60px;
}

.text-size-48 {
    font-size: 48px;
}

.text-size-36 {
    font-size: 36px;
}

.text-size-24 {
    font-size: 24px;
}

.icon-location {
    align-items: baseline;
}

.icon-font {
    font-size: 30px;
}

.divider {
    border-bottom: 2px solid #B42318;
    margin: 25px 0;
}


.image-container-teacher {
    position: relative;
    display: inline-block; /* Убедимся, что контейнер подстраивается под размер картинки */
}

.image-container-teacher img {
    width: 100%; /* Изображение растягивается на всю ширину контейнера */
}

.image-title {
    position: absolute;
    width: 100%;
    top: 85%; /* Центрируем по вертикали */
    left: 63%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Смещаем заголовок в центр */
    color: white; /* Белый текст */
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем тень для улучшения видимости на фоне изображения */
}

.content-between-center {
    justify-content: space-between;
    align-items: center;
}

.certificate {
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(#293056, #3169B2);
    color: white;
    height: 100%;
}

.certificate li {
    font-size: 24px;
    font-weight: 600;
}

.certificate p {
    font-size: 20px;
}

.certificate-academ {
    border-radius: 10px;
    background-image: linear-gradient(#E22020, #B42318);
    color: white;
    height: 100%;
}

.certificate-academ li {
    font-size: 24px;
    font-weight: 600;
}

.certificate-academ p {
    font-size: 20px;
}

.table-headers {
    margin-bottom: 20px; /* или другое значение */
    padding: 10px;
    border: 1px solid rgba(41, 48, 86, 1);
    border-radius: 10px;
    color: rgba(41, 48, 86, 1);
    font-size: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    word-wrap: break-word; /* Автоматический перенос длинных слов */
    overflow-wrap: break-word; /* Для совместимости с разными браузерами */
    text-align: center; /* Выравнивание текста по центру */
    white-space: normal;
}

.table-headers p {
    font-weight: 500;
}

.table-column {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(41, 48, 86, 1);
    border-radius: 8px;
    color: rgba(41, 48, 86, 1);
    font-size: 36px;
    font-weight: 500;
}

.table-column p {
    margin-top: 10px;
}

.subject {
    flex-basis: 40%; /* 40% ширины на название предмета */
    padding: 10px;

}

.duration {
    flex-basis: 30%; /* 30% на длительность */
    text-align: center; /* Центрировать текст */
    padding: 10px;

}

.price {
    flex-basis: 20%; /* 30% на цену */
    text-align: right; /* Выравниваем цену по правому краю */
    padding: 10px;
}

.price-depending {
    flex-basis: 45%;
    text-align: center; /* Выравниваем цену по правому краю */
    padding: 10px;

}

.table-column p {
    margin: 0; /* Убираем стандартные отступы у <p> */
}

footer {
    background-image: linear-gradient(#293056B2, #293056B2), /* Полупрозрачный градиент */ url('../../img/main_page/img.png'); /* Изображение фона */
    background-repeat: no-repeat; /* Запретить повторение изображения */
    background-position: center center; /* Центрировать изображение */
    background-size: cover;
    color: white;
    height: 400px;
    width: 100%;
}

.logo-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-icons {
    font-size: 24px;
}


.contact-info {
    display: flex;
    justify-content: space-between;
}

.time-lessons {
    display: none;
}

@media (max-width: 912px) {
    .header__burger-btn {
        display: block;
    }

    .nav {
        position: absolute;
        left: 0;
        top: 0;
        background-color: black;
        padding: 100px 20px 20px 20px;
    }

    .menu-list {
        display: block;
    }

    .duration-lessons {
        display: none;
    }

    .time-lessons {
        display: block;
    }

    .price {
        flex-basis: 24%
    }

    .teacher-image {
        height: 100%;
    }


}

@media (max-width: 541px) {
    .slide-content {
        top: 15%;
        margin-top: 2rem;
        text-align: start;
        padding: 25px;
    }

    .navbar-collapse {
        background: black;
    }

    .slide-content h1 {
        font-size: 30px;
    }

    .text-size-24 {
        font-size: 16px;
    }

    .swiper-container {
        height: 700px !important;
    }

    .swiper-pagination {
        bottom: 35% !important;
    }

    .sign-up-button {
        text-align: center;
    }

    .courses-padding {
        padding-top: 1rem;
    }

    .text-size-60 {
        font-size: 30px;
    }

    .text-size-36 {
        font-size: 16px;
    }

    .course-text {
        font-size: 16px;
    }

    .consult-take {
        font-size: 24px !important;
    }

    .consult {
        text-align: start;
        padding: 0px 30px !important;
    }

    .image-container {
        display: none;
    }

    .sm-border {
        border-bottom: 2px solid #B42318;
        padding-bottom: 20px;
    }

    .image-title {
        font-size: 28px;
        left: 70%;
    }

    .text-size-48 {
        font-size: 28px;
        font-weight: 800;
    }

    .certificate li {
        font-size: 16px;
    }

    .certificate p {
        font-size: 16px;
    }

    .certificate-academ li {
        font-size: 16px;
    }

    .certificate-academ p {
        font-size: 16px;
    }

    .margin-blocks {
        margin-top: 2rem;
    }

    .consult-header {
        font-size: 30px;
    }

    .consult-text {
        font-size: 16px;
    }

    .table-column {
        font-size: 16px;
    }

    .table-headers {
        font-size: 16px;
    }

    .price {
        flex-basis: 25%;
    }

    .duration {
        flex-basis: 20%;
    }

    .subject {
        flex-basis: 45%;
    }

    .duration-lessons {
        display: none;
    }

    .time-lessons {
        display: block;
    }

    footer {
        height: auto;
    }

    .contact-info {
        display: block;
    }

    .logo-padding {
        padding-top: 3rem;
        padding-bottom: 0.5rem;
        padding-left: 30px !important;
    }

    .footer-text {
        padding: 0 30px !important;
    }

    .footer-contacts {
        padding: 0 30px !important;
    }

    .footer-icons {
        font-size: 40px;
    }

    .gutter-x-course {
        --bs-gutter-x: 0.5rem !important;
    }
}

@media (max-width: 400px) {
    .swiper-pagination {
        bottom: 30% !important;
    }
}

@media (max-width: 380px) {
    .swiper-pagination {
        bottom: 10% !important;
    }

    .price {
        flex-basis: 26%;
    }
}

