{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
    <!-- Classy Nav CSS -->
    <link rel="stylesheet" href="{% static 'css/classy-nav.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- Owl Theme Default CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/new_style.css' %}">

    <!-- Roboto шрифт -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    {% block links %}{% endblock %}

    {% block header %} {% endblock %}

    {% block style %} {% endblock %}

    <title>{% block title %}SkillSpring{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}">
</head>
<body>

<!-- Start Main Menu Desktop Area -->
<header class="header hide-mobile">
    <div class="container">
        <div class="row d-flex justify-content-between pt-38">
            <div class="col-3 text-align-left">
                <a href="{% url 'index' %}" class="text-decoration-none">
                    <img class="logo1" src="{% static 'new_img/logo1.png' %}" alt="logo">
                    <img class="SkillSpring1.png" src="{% static 'new_img/SkillSpring1.png' %}" alt="SkillSpring">
                </a>
            </div>

            <div class="col-6 text-align-center ptс-5">
                <a href="{% url 'index' %}" class="font-20 regular text-decoration-none text-black mr-20">
                    {% trans 'Home' %}
                </a>
                <a href="{% url 'course_list' %}" class="font-20 regular text-decoration-none text-black ml-20 mr-20">
                    {% trans 'Courses' %}
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'course_paid_list' %}"
                       class="font-20 regular text-decoration-none text-black ml-20 mr-20">
                        {% trans 'Paid Courses' %}
                    </a>
                {% endif %}
                <a href="{% url 'contact_us' %}" class="font-20 regular text-decoration-none text-black ml-20">
                    {% trans 'Contact Us' %}
                </a>
            </div>

            <div class="col-3 text-align-right">
                <div class="dropdown">
                    <img class="dropbtn logo1 text-black" style="margin-top: -3px;"
                         src="{% static 'new_img/world.png' %}" alt="logo">
                    <p class="dropbtn font-20 regular text-decoration-none inline-block text-black ml-6 mr-6">
                        {% if request.LANGUAGE_CODE == 'en' %}
                            Eng
                        {% else %}
                            Рус
                        {% endif %}
                    </p>
                    <div class="dropdown-content">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">

                            <button class="btn-change-lang block"
                                    type="submit" name="language" value="ru">Русский
                            </button>

                            <button class="btn-change-lang block"
                                    type="submit" name="language" value="en">English
                            </button>
                        </form>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                    <p class="font-20 inline-block">
                        |
                    </p>
                    <div class="level-badge" style="background: linear-gradient(135deg, {{ user.get_level_color }});">
                        {{ user.level }}
                    </div>
                {% endif %}
                <p class="font-20 inline-block">
                    |
                </p>
                <a href="#" class="font-20 regular text-decoration-none ml-6">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'user_detail' request.user.pk %}" class="text-decoration-none">
                            <svg style="margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 fill="currentColor"
                                 class="bi bi-person-square" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                            </svg>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-decoration-none">
                            <svg style="margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 fill="currentColor"
                                 class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                <path fill-rule="evenodd"
                                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                            </svg>
                        </a>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</header>

<!-- End Main Menu Desktop Area -->

<!-- Start Main Menu Mobile Area -->
{#<nav class="navbar navbar-expand-lg bg-body-tertiary hide-desktop">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="#">#}
{#            <img class="logo1" src="{% static 'new_img/logo1.png' %}" alt="logo">#}
{#            <img class="SkillSpring1.png" src="{% static 'new_img/SkillSpring1.png' %}" alt="SkillSpring">#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"#}
{#                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarNavDropdown">#}
{#            <ul class="navbar-nav">#}
{#                <li class="nav-item">#}
{#                    <a href="{% url 'index' %}" class="font-20 regular text-decoration-none text-black mr-20">#}
{#                        {% trans 'Home' %}#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="{% url 'course_list' %}"#}
{#                       class="font-20 regular text-decoration-none text-black ml-20 mr-20">#}
{#                        {% trans 'Courses' %}#}
{#                    </a>#}
{#                </li>#}
{#                {% if request.user.is_authenticated %}#}
{#                    <li class="nav-item">#}
{#                        <a href="{% url 'course_paid_list' %}"#}
{#                           class="font-20 regular text-decoration-none text-black ml-20 mr-20">#}
{#                            {% trans 'Paid Courses' %}#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        Dropdown link#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<div class="main-header-area hide-desktop {% block navbar-area %}navbar-area{% endblock %} header-sticky">
    <div class="container">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="EduStudyNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}">
                    <img class="logo1" src="{% static 'new_img/logo1.png' %}" alt="logo">
                    <img class="SkillSpring1.png" src="{% static 'new_img/SkillSpring1.png' %}" alt="SkillSpring">
                </a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li class="mr-ul">
                                <a href="{% url 'index' %}"
                                   class="">
                                    {% trans 'Home' %}
                                </a>
                            </li>

                            <li class="mr-ul"><a href="{% url 'course_list' %}">{% trans 'Courses' %}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'course_list' %}">{% trans 'All Courses' %}</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url 'course_paid_list' %}">{% trans 'Paid Courses' %}</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                            <li class="mr-ul">
                                <a href="{% url 'contact_us' %}" class="">
                                    {% trans 'Contact Us' %}
                                </a>
                            </li>

                            <li class="mr-ul">
                                <a href="{% url 'contact_us' %}">{% trans 'Contact Us' %}</a>
                            </li>


                            {% if request.user.is_authenticated %}
                                <li class="">
                                    <a href="{% url 'user_detail' request.user.pk %}"> {% trans "Account" %}</a>
                                </li>
                            {% else %}
                                <li class="">
                                    <a href="{% url 'login' %}"> {% trans "Log in" %}</a>
                                </li>
                            {% endif %}

                            <li>
                                <a>
                                    {% if request.LANGUAGE_CODE == 'en' %}
                                        EN
                                    {% else %}
                                        RU
                                    {% endif %}
                                </a>
                                <ul class="dropdown">
                                    <form action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <!-- Вернуться на текущую страницу -->
                                        <li>
                                            <button class="change-language-buttons" type="submit" name="language"
                                                    value="en">EN
                                            </button>
                                        </li>
                                        <li>
                                            <button class="change-language-buttons" type="submit" name="language"
                                                    value="ru">RU
                                            </button>
                                        </li>
                                    </form>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Main Menu Mobile Area -->


{% block content %}
{% endblock %}

<!-- Start Footer Area -->
<footer class="footer mt-100 pt-130">
    <div class="border-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-4 border-right">
                <img src="{% static 'new_img/bxs_book.png' %}" alt="Лого" class="footer-logo mt-38">
                <img src="{% static 'new_img/SkillSpring.png' %}" alt="Лого" class="footer-name mt-38 ml-25">
                <p class="font-20 regular white-text mt-15">
                    {% trans 'Find your perfect course with us' %}
                </p>
                <div class="row mt-24">
                    <div class="col-12">
                        <img src="{% static 'new_img/streamline_web.png' %}" alt="Лого" class="footer-icon-site">
                        <p class="font-20 regular white-text inline-block ml-6">
                            www.skillspring.kz
                        </p>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-12">
                        <img src="{% static 'new_img/phone.png' %}" alt="Телефон" class="footer-name">
                        <p class="font-20 regular white-text inline-block ml-6">
                            +7 (706) 630-06-09
                        </p>
                    </div>
                </div>
                <div class="row pb-35 mt-15">
                    <div class="col-12">
                        <a href="https://www.instagram.com/skillspring_course?igsh=MTcyb2E1ZmU1N3BtYQ%3D%3D&utm_source=qr"
                           class="text-decoration-none">
                            <img src="{% static 'new_img/insta.png' %}" alt="Instagram" class="">
                        </a>
                        <a href="https://www.tiktok.com/@skillspring_course?_t=ZM-8w34KAzONin&_r=1"
                           class="text-decoration-none">
                            <img src="{% static 'icons/ic_baseline-tiktok.png' %}" alt="tiktok" class="ml-25"
                                 width="34px" height="34px">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-8">

                <div class="pt-45 pb-25">
                    <p class="font-28 semibold white-text inline-block ml-25">
                        {% trans 'Basic links' %}
                    </p>
                    <img src="{% static 'new_img/arrow.png' %}" alt="arrow" class="ml-25 arrow inline-block">
                    <a href="{% url 'course_list' %}"
                       class="text-decoration-none font-20 regular white-text inline-block ml-25">
                        {% trans 'Course List' %}
                    </a>
                    <a href="{% url 'index' %}"
                       class="text-decoration-none font-20 regular white-text inline-block ml-25">
                        {% trans 'Index Page' %}
                    </a>
                    <a href="{% url 'contact_us' %}"
                       class="text-decoration-none font-20 regular white-text inline-block ml-25">
                        {% trans 'Contact Us' %}
                    </a>
                </div>

                <div class="pt-45 pb-25">
                    <p class="font-28 semibold white-text inline-block ml-25">
                        {% trans 'Site Review' %}
                    </p>
                    <img src="{% static 'new_img/arrow.png' %}" alt="arrow" class="ml-25 arrow inline-block">
                    <a href="{% url 'login' %}"
                       class="text-decoration-none font-20 regular white-text inline-block ml-25">
                        {% trans 'Login' %}
                    </a>
                    <a href="{% url 'register' %}"
                       class="text-decoration-none font-20 regular white-text inline-block ml-25">
                        {% trans 'Register' %}
                    </a>
                </div>

                <div class="pt-45 pb-25">
                    <p class="font-28 semibold white-text inline-block ml-25">
                        {% trans 'Contact Support' %}
                    </p>
                    <img src="{% static 'new_img/arrow.png' %}" alt="arrow" class="ml-25 arrow inline-block">
                    <a href="{% url 'contact_us' %}"
                       class="text-decoration-none font-20 regular white-text inline-block ml-25">
                        {% trans 'Support Page' %}
                    </a>
                </div>


            </div>
        </div>

    </div>
    <div class="border-top pb-80"></div>
</footer>


<div class="modal fade" id="quizModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <form method="post" action="{% url 'quiz_submit' %}" id="quizForm">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quick Quiz</h5>
                </div>
                <div class="modal-body">

                    {% for question in questions %}
                        <div class="quiz-step" data-step="{{ forloop.counter }}"
                             style="{% if not forloop.first %}display:none;{% endif %}">
                            <p><strong>{{ question.text }}</strong></p>
                            {% for option in question.options.all %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio"
                                           name="question_{{ question.id }}"
                                           value="{{ option.tag.id }}"
                                           id="option_{{ option.id }}"
                                           required>
                                    <label class="form-check-label" for="option_{{ option.id }}">
                                        {{ option.text }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="prevBtn">Previous</button>
                    <button type="button" class="btn btn-primary" id="nextBtn">Next</button>
                    <button type="submit" class="btn btn-success" id="submitBtn" style="display:none;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if request.show_quiz_modal %}
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            $('#quizModal').modal('show');
        });
    </script>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let currentStep = 1;
        const totalSteps = 6;

        const updateStep = () => {
            document.querySelectorAll(".quiz-step").forEach(step => {
                step.style.display = step.dataset.step == currentStep ? "block" : "none";
            });

            document.getElementById("prevBtn").style.display = currentStep > 1 ? "inline-block" : "none";
            document.getElementById("nextBtn").style.display = currentStep < totalSteps ? "inline-block" : "none";
            document.getElementById("submitBtn").style.display = currentStep === totalSteps ? "inline-block" : "none";
        };

        document.getElementById("nextBtn").addEventListener("click", () => {
            if (currentStep < totalSteps) currentStep++;
            updateStep();
        });

        document.getElementById("prevBtn").addEventListener("click", () => {
            if (currentStep > 1) currentStep--;
            updateStep();
        });

        updateStep();
    });
</script>


<!-- Bootstrap Min JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


{#<!-- jQuery Min JS -->#}
<script src="{% static '/js/jquery.min.js' %}"></script>
<!-- Bootstrap Min JS -->
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<!-- Classy Nav Min Js -->
<script src="{% static '/js/classy-nav.min.js' %}"></script>
{#<!-- Owl Carousel Min Js -->#}
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
{#<!-- Magnific Popup JS -->#}
<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
<!-- CounterUp JS -->
<script src="{% static '/js/jquery.counterup.min.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static '/js/waypoints.min.js' %}"></script>
<!-- Form Validator Min JS -->
<script src="{% static '/js/form-validator.min.js' %}"></script>
<!-- Contact Form Min JS -->
<script src="{% static '/js/contact-form-script.js' %}"></script>
<!-- Main JS -->
<script src="{% static '/js/main.js' %}"></script>

</body>
</html>