{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
    <!-- Classy Nav CSS -->
    <link rel="stylesheet" href="{% static 'css/classy-nav.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- Owl Theme Default CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>{% block title %}PDGA{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}">
</head>
<body>
<!-- Start Preloader Area -->
<div class="preloader-area">
    <div class="loader">
        <div class="dots">
            <i class="dots-item dots-item-move-down"></i>
            <i class="dots-item dots-item-move-left"></i>
            <i class="dots-item dots-item-move-left"></i>
            <i class="dots-item dots-item-move-left"></i>
            <i class="dots-item dots-item-move-left"></i>
            <i class="dots-item dots-item-move-down"></i>
            <i class="dots-item dots-item-move-right"></i>
            <i class="dots-item dots-item-move-right"></i>
            <i class="dots-item dots-item-move-down"></i>
            <i class="dots-item dots-item-move-up"></i>
            <i class="dots-item dots-item-move-down"></i>
            <i class="dots-item dots-item-move-up"></i>

            <i class="dots-item"></i>

            <i class="dots-item dots-item-move-down"></i>
            <i class="dots-item dots-item-move-up"></i>
            <i class="dots-item dots-item-move-down"></i>
            <i class="dots-item dots-item-move-up"></i>
            <i class="dots-item dots-item-move-left"></i>
            <i class="dots-item dots-item-move-left"></i>
            <i class="dots-item dots-item-move-up"></i>
            <i class="dots-item dots-item-move-right"></i>
            <i class="dots-item dots-item-move-right"></i>
            <i class="dots-item dots-item-move-right"></i>
            <i class="dots-item dots-item-move-right"></i>
            <i class="dots-item dots-item-move-up"></i>
        </div>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Main Menu Area -->
<div class="main-header-area navbar-area header-sticky">
    <div class="container">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="EduStudyNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}"><img src="{% static '/img/logo.png' %}" alt="logo"></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'course_list' %}">{% trans 'Courses' %}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'course_list' %}">{% trans 'All Courses' %}</a></li>
                                    <li><a href="{% url 'course_paid_list' %}">{% trans 'Paid Courses' %}</a></li>
                                </ul>
                            </li>
                        
                            <li>
                                <a href="{% url 'contact_us' %}">Contact Us</a>
                            </li>
                        
                            <li>
                                <a href="{% url 'teacher_list' %}">Teachers</a>
                            </li>
                        
                            <li><a href="#">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index-default.html">Home Demo One</a></li>
                                    <li><a href="index-two.html">Home Demo Two</a></li>
                                    <li><a href="index-three.html">Home Demo Three</a></li>
                                    <li><a href="index-four.html">Home Demo Four</a></li>
                                </ul>
                            </li>

                            

                            

                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-style-one.html">Blog Style One</a></li>
                                            <li><a href="blog-style-two.html">Blog Style Two</a></li>
                                            <li><a href="blog-style-three.html">Blog Style Three</a></li>
                                            <li><a href="single-blog.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'course_list' %}">{% trans 'Courses' %}</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'course_list' %}">{% trans 'All Courses' %}</a></li>
                                            <li><a href="{% url 'course_paid_list' %}">{% trans 'Paid Courses' %}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Teacher</a>
                                        <ul class="dropdown">
                                            <li><a href="teacher-style-one.html">Teacher Style One</a></li>
                                            <li><a href="teacher-style-two.html">Teacher Style Two</a></li>
                                            <li><a href="single-teacher.html">Teacher Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Events</a>
                                        <ul class="dropdown">
                                            <li><a href="event-style-one.html">Events Style One</a></li>
                                            <li><a href="event-style-two.html">Events Style Two</a></li>
                                            <li><a href="single-events.html">Events Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Contact</a>
                                        <ul class="dropdown">
                                            <li><a href="contact-style-one.html">Contact Style One</a></li>
                                            <li><a href="contact-style-two.html">Contact Style Two</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="admission.html">Admission</a></li>
                                    <li><a href="error.html">404 Error</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-style-one.html">Blog Style One</a></li>
                                    <li><a href="blog-style-two.html">Blog Style Two</a></li>
                                    <li><a href="blog-style-three.html">Blog Style Three</a></li>
                                    <li><a href="single-blog.html">Blog Details</a></li>
                                </ul>
                            </li>

                            <li><a href="#" class="active">Contact</a>
                                <ul class="dropdown">
                                    <li class="active"><a href="contact-style-one.html">Contact Style One</a></li>
                                    <li><a href="contact-style-two.html">Contact Style Two</a></li>
                                </ul>
                            </li>
                            
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'user_detail' request.user.pk %}"> {% trans "Account" %}</a>
                            {% else %}
                            <li>
                                <a href="{% url 'login' %}"> {% trans "Log in" %}</a>
                            </li>
                            {% endif %}

                            <li><a href="#search" class="search-btn"><i class="icofont-search-2"></i></a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Main Menu Area -->

<!-- Start Search Popup Area -->
<div id="search-area">
    <button type="button" class="close">x</button>
    <form>
        <input type="search" value="" placeholder="Search Kewword(s)">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- End Search Popup Area -->

{% block content %}
{% endblock %}

<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>About EduField</h3>

                    <ul class="footer-contact-info">
                        <li>2750 Quadra Street , Park Area, Victoria, Canada.</li>
                        <li><a href="#">+4 (05) 345 6789</a></li>
                        <li><a href="#">+4 (15) 345 6789</a></li>
                        <li><a href="#">contact@EduField.org</a></li>
                    </ul>

                    <ul class="social">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                        <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>Courses</h3>

                    <ul class="list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="admission.html">Admission</a></li>
                        <li><a href="courses-style-one.html">Research</a></li>
                        <li><a href="courses-style-one.html">Scholarship</a></li>
                        <li><a href="blog-style-one.html">Blog</a></li>
                        <li><a href="contact-style-one.html">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>Research</h3>

                    <ul class="list">
                        <li><a href="admission.html">Forums</a></li>
                        <li><a href="event-style-one.html">Events</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="blog-style-one.html">Blog</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>Support</h3>

                    <ul class="list">
                        <li><a href="single-courses.html">Language Packs</a></li>
                        <li><a href="single-courses.html">Relase Status</a></li>
                        <li><a href="event-style-one.html">Events</a></li>
                        <li><a href="teacher-style-one.html">Become A Teacher</a></li>
                        <li><a href="courses-style-one.html">Courses</a></li>
                        <li><a href="single-courses.html">LearnPress</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <p>Copyright <span>EduField</span> All Rights Reserved by <a href="https://envytheme.com/"
                                                                                 target="_blank">EnvyTheme</a></p>
                </div>

                <div class="col-lg-5 col-md-5">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Back to top -->
<a class="scrolltop" href="#top"><i class="icofont-hand-drawn-up"></i></a>
<!-- End Back to top -->

<!-- jQuery Min JS -->
<script src="{% static '/js/jquery.min.js' %}"></script>
<!-- Bootstrap Min JS -->
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<!-- Classy Nav Min Js -->
<script src="{% static '/js/classy-nav.min.js' %}"></script>
<!-- Owl Carousel Min Js -->
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
<!-- CounterUp JS -->
<script src="{% static '/js/jquery.counterup.min.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static '/js/waypoints.min.js' %}"></script>
<!-- Form Validator Min JS -->
<script src="{% static '/js/form-validator.min.js' %}"></script>
<!-- Contact Form Min JS -->
<script src="{% static '/js/contact-form-script.js' %}"></script>
<!-- Main JS -->
<script src="{% static '/js/main.js' %}"></script>
</body>
</html>