{% extends 'base.html' %}
{% load percent_filter %}
{% load static %}
{% load i18n %}

{% block title %}{{ course.title }}{% endblock %}

{% block style %}
    <style>
        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            font-size: 16px;
            animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(-10px);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title course-list-image">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>{{ course.title }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Course Details Area -->
    <section class="course-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="courses-details">

                        <div class="courses-details-img">
                            <img src="{{ course.image.url }}" alt="courses-details">
                        </div>

                        <h3>{{ course.title }}</h3>

                        <div class="courses-details-meta">
                            <ul>
                                <li>
                                    <div class="teacher-img">
                                        {% if course.teacher.profile_image %}
                                            <img src="{{ course.teacher.profile_image.url }}" alt="teacher">
                                        {% else %}
                                            <img src="{% static 'img/none_image_profile.png' %}" alt="teacher">
                                        {% endif %}
                                    </div>

                                    {% trans 'Teacher' %}: {{ course.teacher.fullname }}
                                </li>

                            </ul>

                            <div class="apply-btn">
                                {% if is_paid %}
                                    {% if test_exists %}
                                        <a href="{% url 'test_case_description_detail' course.id %}"
                                           class="btn btn-secondary">
                                            {% trans 'Tests' %}
                                        </a>
                                    {% endif %}
                                    <p class="btn btn-primary">{% trans 'Purchased' %}</p>
                                {% else %}
                                    <a href="{% url 'purchase_course' course_id=course.id %}" class="btn btn-primary">
                                        {% trans 'Buy' %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="course-details-tabs">
                            <ul id="tabs" class="d-lg-flex justify-content-lg-between">
                                <li class="active" id="tab_1">{% trans 'Description' %}</li>
                                <li class="inactive" id="tab_2">{% trans 'Curriculum' %}</li>
                                <li class="inactive" id="tab_3">{% trans 'Instructors' %}</li>
                            </ul>

                            <div class="content show" id="tab_1_content">
                                <h4 class="title">{% trans 'Course Details' %}</h4>

                                <p>{{ course.description|safe }}</p>

                                <div class="requirements-list">
                                    <h4 class="title">{% trans 'What You Will Learn' %}</h4>

                                    <ul>
                                        {% for skill in skills %}
                                            <li><i class="icofont-double-right"></i> {{ skill.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="content" id="tab_2_content">
                                <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                    {% if modules %}
                                        {% for module in modules %}
                                            <div class="card">
                                                <!-- Генерация уникального id для каждого модуля -->
                                                <div class="card-header" role="tab" id="heading{{ module.id }}">
                                                    <a data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                                       href="#collapse{{ module.id }}" aria-expanded="true"
                                                       aria-controls="collapse{{ module.id }}">
                                                        <h5 class="mb-0">
                                                            {{ module.position }}. {{ module.title }} <span>
                                                            <i class="icofont-rounded-down"></i></span>
                                                        </h5>
                                                    </a>
                                                </div>

                                                <div id="collapse{{ module.id }}"
                                                     class="collapse{% if forloop.first %} show{% endif %}"
                                                     role="tabpanel" aria-labelledby="heading{{ module.id }}"
                                                     data-bs-parent="#accordionEx">
                                                    <div class="card-body">
                                                        <ul>
                                                            {% for lesson in module.lessons.all %}
                                                                <li>

                                                                    {% if lesson.progress_status == 'done' %}
                                                                        <i class="icofont-check-circled text-success"></i>
                                                                        {# Иконка для завершённого урока #}
                                                                    {% elif lesson.progress_status == 'in_progress' %}
                                                                        <i class="icofont-spinner-alt-2 text-info"></i>
                                                                        {# Иконка для урока в процессе #}
                                                                    {% else %}
                                                                        <i class="icofont-ui-play"></i>

                                                                    {% endif %}
                                                                    {% trans 'Lesson' %}
                                                                    {{ module.position }}.{{ forloop.counter }}

                                                                    <span>
                                                                        {% if not is_paid %}
                                                                            <p>
                                                                                {{ lesson.title }}
                                                                            </p>
                                                                        {% else %}
                                                                            <a href="{% url 'lesson_detail' pk=lesson.id %}">
                                                                                {{ lesson.title }}
                                                                            </a>
                                                                        {% endif %}
                                                                    </span>

                                                                    <span class="duration"><i
                                                                            class="icofont-clock-time"></i> {{ lesson.formatted_duration }} min</span>
                                                                    {% if not is_paid %}
                                                                        {#                                                                        <form action="{% url 'purchase_course' course_id=course.id %}"#}
                                                                        {#                                                                              method="post">#}
                                                                        {#                                                                            {% csrf_token %}#}
                                                                        {#                                                                            <button type="submit" class="preview">#}
                                                                        {#                                                                                {% trans 'Get access' %}#}
                                                                        {#                                                                            </button>#}
                                                                        {#                                                                        </form>#}
                                                                    {% else %}
                                                                        <a href="{% url 'lesson_detail' pk=lesson.id %}"
                                                                           class="preview">View</a>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="content" id="tab_3_content">
                                <div class="course-author">
                                    <div class="img">
                                        <img src="{{ course.teacher.profile_image.url }}" alt="teacher">
                                    </div>

                                    <div class="author-content">
                                        <h4>{{ course.teacher.fullname }}</h4>
                                        <span>{{ course.teacher.position }}</span>
                                        <a href="mailto:{{ course.teacher.user.email }}">{{ course.teacher.user.email }}</a>
                                        <ul class="">
                                            {% if teacher.facebook %}
                                                <li><a href="{{ course.teacher.facebook }}"><i
                                                        class="icofont-facebook"></i></a></li>
                                            {% endif %}
                                            {% if teacher.twitter %}
                                                <li><a href="{{ course.teacher.twitter }}"><i
                                                        class="icofont-twitter"></i></a>
                                                </li>
                                            {% endif %}
                                            {% if teacher.linkedin %}
                                                <li><a href="{{ course.teacher.linkedin }}"><i
                                                        class="icofont-linkedin"></i></a></li>
                                            {% endif %}
                                            {% if teacher.instagram %}
                                                <li><a href="{{ course.teacher.instagram }}"><i
                                                        class="icofont-instagram"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                        <p>
                                            {% if current_lang == 'en' %}
                                                {{ course.teacher.about_en }}
                                            {% else %}
                                                {{ course.teacher.about_ru }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="side-bar mb-0">
                        <div class="single-widget features-box">
                            <h3 class="title">Course Features</h3>

                            <ul>
                                <li><i class="icofont-file-fill"></i> {% trans 'Lectures' %}
                                    <span>{{ total_lessons }}</span></li>

                                <li><i class="icofont-clock-time"></i> {% trans 'Duration' %}
                                    <span>{{ total_duration }}</span>
                                </li>

                                <li><i class="icofont-caret-up"></i> {% trans 'Skill level' %}
                                    <span>{{ course.get_skill_level_display }}</span></li>

                                <li><i class="icofont-read-book"></i> {% trans 'Language' %}
                                    <span>{{ course.get_language_display }}</span></li>

                                <li><i class="icofont-users-social"></i> {% trans 'Students' %}
                                    <span>{{ students }}</span></li>

                                {#                                <li><i class="icofont-certificate-alt-1"></i> Certificate <span>Yes</span></li>#}

                                <li><i class="icofont-checked"></i> {% trans 'Practise Tests' %} <span>Yes</span></li>

                                <li style="color: #30BC83;">
                                    <i class="icofont-price"></i>
                                    {% trans 'Price' %}

                                    {% if price_with_discount_exists == 'Yes' %}
                                        <span>
                                            <b class="text-decoration-line-through"
                                               style="font-weight: 500; color: #777;">
                                               {{ course.price|floatformat:0 }}
                                            </b>
                                             {{ price_with_discount }} тг.
                                        </span>
                                    {% else %}
                                        <span>{{ course.price|floatformat:0 }} тг.</span>
                                    {% endif %}

                                </li>
                            </ul>
                        </div>

                        <div class="single-widget share-boxes">
                            <h3 class="title">{% trans 'Share Courses' %}</h3>

                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                       target="_blank">
                                        <i class="icofont-facebook"></i>
                                    </a></li>
                                <li><a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
                                       target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a></li>
                                <li><a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}"
                                       target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a></li>
                            </ul>
                        </div>

                        <div class="single-widget latest-courses">
                            <h3 class="title">{% trans 'All Courses' %}</h3>

                            {% for course in all_courses %}
                                <div class="single-latest-courses">
                                    <div class="img">
                                        <a href="{% url 'course_detail' course.pk %}"><img src="{{ course.image.url }}"
                                                                                           alt="course"></a>
                                    </div>

                                    <div class="content">
                                        <h4 class="all-courses-slide-bar-margin">
                                            <a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
                                        </h4>
                                        {% if price_with_discount_all_courses_exists == 'Yes' %}
                                            <p><span>{{ course.price|floatformat:0 }} </span>
                                                {{ course.price_with_discount }} тг. </p>
                                        {% else %}
                                            <p>
                                                {{ course.price|floatformat:0 }} тг.
                                            </p>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="similar-courses">
            <div class="container">
                <h2>{% trans 'Similar Courses' %}</h2>

                <div class="row">

                    {% for course in similar_courses %}
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="courses-img">
                                    <img src="{{ course.image.url }}" alt="course">
                                </div>

                                <div class="courses-content">
                                    <h3><a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a></h3>
                                    {#                                    <ul>#}
                                    {#                                        <li><i class="icofont-star"></i></li>#}
                                    {#                                        <li><i class="icofont-star"></i></li>#}
                                    {#                                        <li><i class="icofont-star"></i></li>#}
                                    {#                                        <li><i class="icofont-star"></i></li>#}
                                    {#                                        <li><i class="icofont-star"></i></li>#}
                                    {#                                        <li><span>(15 {% trans 'reviews' %})</span></li>#}
                                    {#                                    </ul>#}

                                    <p>
                                        {{ course.preview_description }}
                                    </p>
                                </div>

                                <div class="courses-content-bottom">
                                    {% if price_with_discount_exists == 'Yes' %}
                                        <h4 class="price">
                                            <span>
                                                {{ course.price|floatformat:0 }}
                                            </span>
                                            {{ course.price_with_discount }} тг.
                                        </h4>
                                    {% else %}
                                        <h4 class="price">
                                            {{ course.price|floatformat:0 }} тг.
                                        </h4>
                                    {% endif %}
                                    <h4>
                                        <a href="{% url 'course_detail' course.pk %}"
                                           class="btn btn-primary">{% trans 'Read More' %}</a>
                                    </h4>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- End Course Details Area -->


    <script>

        // Функция для отображения уведомлений
        function showNotification(message) {
            const notification = document.createElement('div');
            notification.className = 'notification';
            notification.innerText = message;
            document.body.appendChild(notification);

            setTimeout(() => {
                notification.remove();
            }, 10000); // Уведомление исчезает через 3 секунды
        }

        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            console.log("Сообщение из URL:", message);
            if (message) {
                showNotification(message); // Убираем decodeURIComponent()
            }
        });
    </script>
{% endblock %}
