{% extends 'base.html' %}

{% block title %}Создание курса{% endblock %}


{% block content %}
    <div class="container main-container">
        <div class="row d-flex justify-content-center">
            <div class="col-5 card text-bg-light form-margins">
                <h3>Создание курса</h3>
                <form action="{% url 'course_create' %}" method="post" enctype="multipart/form-data">
                    {% include 'partial/add_update_form.html' with button_text='Создать' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
