{% extends 'base.html' %}
{% load percent_filter %}
{% load i18n %}

{% block title %}{% trans 'All Courses' %}{% endblock %}

{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title course-list-image">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>{% trans 'All Courses' %}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Slider категорий -->
    <div id="carouselExampleControls" class="carousel slide display-none-mobile mt-60" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Добавляем "All" (Все) и разбиваем теги на группы по 3 -->
        {% for chunk in tags %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="d-block w-100 text-align-center pt-48">
                    <a href="#"
                       class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15"
                       data-code="all">
                        {% if request.LANGUAGE_CODE == 'en' %}
                            All
                        {% else %}
                            Все
                        {% endif %}
                    </a>
                    {% for tag in chunk %}
                        {% if tag %}
                            <a href="#"
                               class="font-20 regular text-black tag-button text-decoration-none ml-15 mr-15"
                               data-code="{{ tag.code }}">
                                {% if request.LANGUAGE_CODE == 'en' %}
                                    {{ tag.name_en }}
                                {% else %}
                                    {{ tag.name_ru }}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <!-- Кнопки переключения -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Start Courses Area -->
    <section class="courses-area pt-60 pb-100" id="course-list">
        {% include 'partial/course_list_list_page.html' %}
    </section>
    <!-- End Courses Area -->


    <!-- JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tagLinks = document.querySelectorAll('.tag-button');

            tagLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const tagCode = this.getAttribute('data-code');
                    fetchCourses(tagCode);
                });
            });
        });

        function fetchCourses(tagCode = 'all') {
            const courseList = document.getElementById('course-list');
            courseList.classList.add('fade-out');

            setTimeout(() => {
                fetch(`/filter_courses_course_list/?tag_code=${tagCode}`)
                    .then(response => response.text())
                    .then(data => {
                        courseList.innerHTML = data;
                        courseList.classList.remove('fade-out');
                        courseList.classList.add('fade-in');

                        setTimeout(() => {
                            courseList.classList.remove('fade-in');
                        }, 1000);
                    })
                    .catch(error => console.error('Ошибка при загрузке курсов:', error));
            }, 1000);
        }
    </script>
{% endblock %}

{#{% extends 'base.html' %}#}
{#{% load i18n %}#}
{##}
{#{% block title %}Welcome{% endblock %}#}
{##}
{#{% block content %}#}
{#    <main>#}
{#        <section class="py-5 text-center container">#}
{#            <div class="row py-lg-5">#}
{#                <div class="col-lg-6 col-md-8 mx-auto">#}
{#                    <h1 class="fw-light">{% trans 'Our Courses' %}</h1>#}
{#                    <p class="lead text-muted">{% trans 'Here, you’ll find our most popular and up-to-date courses. Explore new topics, develop in-demand skills, and work towards your goals! Choose a course that suits you and start learning today.' %}</p>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{##}
{#        <div class="album py-5 bg-light">#}
{#            <div class="container">#}
{#                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">#}
{##}
{#                    {% for course in courses %}#}
{#                        <div class="col">#}
{#                            <div class="card shadow-sm">#}
{#                                {% if course.image %}#}
{#                                <img src="{{ course.image.url }}" class="bd-placeholder-img card-img-top" width="100%"#}
{#                                     height="225">#}
{#                                {% endif %}#}
{#                                #}
{#                                <div class="card-body">#}
{#                                    <p class="card-text">{{ course.title }}</p>#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <div class="btn-group">#}
{#                                            <a href="{% url 'course_detail' course.pk %}"#}
{#                                               class="btn btn-sm btn-outline-secondary">View</a>#}
{#                                            {% if request.user.is_superuser %}#}
{#                                                <a href="{% url 'course_edit' course.pk %}"#}
{#                                                   class="btn btn-sm btn-outline-secondary">Edit</a>#}
{#                                            {% endif %}#}
{##}
{#                                        </div>#}
{#                                        <small class="text-muted">{{ course.price }}</small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                </div>#}
{#                <div class="row">#}
{#                    {% if is_paginated %}#}
{#                        {% include 'partial/pagination.html' %}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
{#{% endblock %}#}