{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css"/>
    <style>
        body {
            background-color: #FFFFFF;
            color: #0A3161;
        }

        .plyr {
            width: 880px; /* Maximum width of the video */
            max-height: 650px;
        }

        .content-wrapper {
            margin: 0 auto;
            text-align: left;
        }

        .course-description p, .course-transcript p {
            font-size: 1.1rem;
            line-height: 1.6;
            color: #0A3161;
        }

        .course-title {
            font-size: 2rem;
            font-weight: bold;
            color: #0A3161;
        }

        .course-info {
            font-size: 1rem;
            color: #555;
        }

        .nav-tabs {
            border-bottom: 2px solid #ddd;
            font-weight: bold;
            border-radius: 0.5rem;
            overflow: hidden;
            background-color: #f8f9fa;
        }

        .nav-tabs .nav-link {
            font-size: 1rem;
            color: #0A3161;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            background-color: #f8f9fa;
            margin-right: 0.2rem;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
            padding: 10px 15px;
        }

        .nav-tabs .nav-link.active {
            color: #FFFFFF;
            background-color: #0A3161;
            border-color: #0A3161 #0A3161 #f8f9fa;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .nav-tabs .nav-link:hover {
            color: #FFFFFF;
            background-color: #083D77;
            border-color: #083D77;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5 content-wrapper">
        <h2 class="mb-4 course-title">{{ lesson.title }}</h2>
        <div class="gap-3 ">

            <div class="row">
                <div class="col-12 col-md-12 col-lg-8">
                    {% if lesson.video_url %}
                        <div class="plyr__video-embed" id="player">
                            <iframe src="{{ lesson.video_url }}" allowfullscreen allowtransparency
                                    allow="autoplay"></iframe>
                        </div>
                    {% endif %}
                    <div>
                        <div class="creator my-3">
                            <div class="creator-info">
                                {% if lesson.creator.avatar %}
                                <img class="avatar" src="{{ lesson.creator.avatar.url }}" alt="Avatar">
                            {% endif %}
                                <div class="d-flex flex-column">
                                        <span class="lesson-by-size">Lesson by
                                            {% if lesson.creator.social_network_link %}
                                                <a href="{{ lesson.creator.social_network_link }}">
                                                    <strong> {{ lesson.creator.first_name }} {{ lesson.creator.last_name }}</strong>
                                                </a>
                                            {% else %}
                                                <strong> {{ lesson.creator.first_name }} {{ lesson.creator.last_name }}</strong>
                                            {% endif %}
                                        </span>

                                    <span class="creator-role-size">Expert</span>
                                </div>
                            </div>
                            <div>
                                <div class="lesson-by-size">
                                    <strong>Lesson Feedback:</strong>
                                    Did you like this lesson?
                                </div>
                                <div class="creator-role-size">
                                    <button id="nice-feedback"> Yes, I liked It</button>
                                    <button id="bad-feedback">No, I don't like it</button>
                                </div>

                            </div>

                        </div>
                    </div>

                    <ul class="nav nav-tabs justify-content-start" id="courseTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="course-tab" data-bs-toggle="tab"
                                    data-bs-target="#course"
                                    type="button" role="tab" aria-controls="course" aria-selected="true">This course
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="transcript-tab" data-bs-toggle="tab"
                                    data-bs-target="#transcript"
                                    type="button" role="tab" aria-controls="transcript" aria-selected="false">Video
                                text
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content mt-4" id="courseTabContent">
                        {#            <div class="tab-pane fade show active course-description" id="course" role="tabpanel" aria-labelledby="course-tab">#}
                        {#                <p class="course-info"><strong>IELTS Preparation Course</strong></p>#}
                        {#                <p class="course-info"><strong>Global Education Services</strong></p>#}
                        {#                <p class="course-info">⭐ 4.8 (42,546 reviews) | Enrolled Students: 120,000</p>#}
                        {#                <p class="course-info">Comprehensive IELTS Preparation — Professional Certification</p>#}
                        {#                <p class="course-info">Start your journey towards IELTS success with this comprehensive preparation course. Taught by experienced instructors, this course covers all four sections of the IELTS exam: Listening, Reading, Writing, and Speaking. You will get tips and strategies to enhance your performance and achieve your desired band score. This course is suitable for learners at all levels, offering personalized feedback and practice tests to ensure you are ready for the exam.</p>#}
                        {#            </div>#}
                        {#            <div class="tab-pane fade course-transcript" id="transcript" role="tabpanel" aria-labelledby="transcript-tab">#}
                        {#                <p>Transcript of the video will be available here.</p>#}
                        {#            </div>#}
                        {{ lesson.content|safe }}
                    </div>

                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="d-flex justify-content-between align-items-start next-lessons-block mb-5">
                        <div class="d-flex flex-column gap-1">
                            <div class="d-flex flex-column gap-s">
                                <strong>Status</strong>
                                <button id="finish-button" class="btn btn-primary">Завершить урок</button>
                            </div>
                            <div>
                                {% if next_lesson %}
                                    <div class="my-3">
                                        <strong>Next Lesson</strong>
                                    </div>
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <a class="text-decoration-none"
                                           href="{% url 'lesson_detail' next_lesson.lesson.id %}">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="{{ next_lesson.lesson.thumbnail_url }}"
                                                         class="lesson-image img-fluid rounded-start"
                                                         alt="Изображение урока">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="lesson-title">{{ next_lesson.lesson.title }}</h5>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="card-text">
                                                                <small
                                                                        class="text-muted"> {{ next_lesson.lesson.formatted_duration }}
                                                                </small>
                                                            </p>
                                                            {% if next_lesson.status == 'in_progress' %}
                                                                <i class="bi bi-hourglass-split text-warning"></i>
                                                            {% elif next_lesson.status == 'done' %}
                                                                <i class="bi bi-check-circle-fill text-success"></i>

                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <strong> Punctuation</strong>
                            </div>
                            {% for item in module_lessons %}
                                <div class="card mb-3"
                                     style="max-width: 540px; {% if item.lesson == current_lesson %}border-color:#007bff ;{% endif %}">
                                    <a class="text-decoration-none"
                                       href="{% url 'lesson_detail' item.lesson.id %}">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="{{ item.lesson.thumbnail_url }}"
                                                     class="lesson-image img-fluid rounded-start"
                                                     alt="Изображение урока">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="lesson-title">{{ item.lesson.title }}</h5>
                                                    <div class="d-flex justify-content-between">
                                                        <p id="video-duration" class="card-text"><small
                                                                class="text-muted">{{ item.lesson.formatted_duration }}</small>
                                                        </p>
                                                        {% if item.status == "in_progress" %}
                                                            <i class="bi bi-hourglass-split text-warning"></i>

                                                        {% elif item.status == 'done' %}
                                                            <i class="bi bi-check-circle-fill text-success"></i>

                                                        {% else %}

                                                        {% endif %}
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>


                    </div>

                </div>


            </div>


        </div>

        <!-- Video Section -->


        <!-- Tabs for Course Description and Transcript -->


    </div>

    <!-- Plyr JS -->
    <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = new Plyr('#player', {
                controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'],
                settings: ['captions', 'quality', 'speed', 'loop'],
                quality: {default: 1080, options: [4320, 2880, 1440, 1080, 720, 480, 360, 240]},
                speed: {selected: 1, options: [0.5, 1, 1.5, 2]}
            });
            player.on('play', () => {
                const lessonId = '{{ lesson.id }}'
                fetch('/api/v1/lesson-progress/create/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        lesson: lessonId,
                        status: 'in_progress'
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.id) {
                            console.log('Прогресс успешно создан:', data);
                        } else {
                            console.error('Ошибка создания прогресса:', data);
                        }
                    }).catch(error => console.error('Ошибка:', error))
            })
        });
    </script>
    <script>
        document.getElementById('finish-button').addEventListener('click', () => {
            const lessonId = '{{ lesson.id }}';
            const nextLessonUrl = '{% if next_lesson %}{% url "lesson_detail" pk=next_lesson.lesson.id %}{% else %}{% url "course_detail" pk=lesson.module.course.id %}{% endif %}';
            fetch(`/api/v1/lesson-progress/${lessonId}/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF-токен
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error('Ошибка:', data.error);
                    } else {
                        console.log('Статус обновлен:', data);
                        window.location.href = nextLessonUrl

                    }
                })
                .catch(error => console.error('Ошибка:', error));
        });

    </script>

{% endblock %}
