{% extends "new_base.html" %}
{% load i18n %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block header %}
    <script src="https://kit.fontawesome.com/465e448dc1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css"/>
    <style>
        body {
        {#background-color: #FFFFFF;#} color: #0A3161;
        }

        .plyr {
            width: 880px; /* Maximum width of the video */
            max-height: 490px;
        }

        .content-wrapper {
            margin: 0 auto;
            text-align: left;
        }

        .course-description p, .course-transcript p {
            font-size: 1.1rem;
            line-height: 1.6;
            color: #0A3161;
        }

        .course-title {
            font-size: 2rem;
            font-weight: bold;
            color: #0A3161;
        }

        .course-info {
            font-size: 1rem;
            color: #555;
        }

        .nav-tabs {
            border-bottom: 2px solid #ddd;
            font-weight: bold;
            border-radius: 0.5rem;
            overflow: hidden;
            background-color: #f8f9fa;
        }

        .nav-tabs .nav-link {
            font-size: 1rem;
            color: #0A3161;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            background-color: #f8f9fa;
            margin-right: 0.2rem;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
            padding: 10px 15px;
        }

        .nav-tabs .nav-link.active {
            color: #FFFFFF;
            background-color: #0A3161;
            border-color: #0A3161 #0A3161 #f8f9fa;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .nav-tabs .nav-link:hover {
            color: #FFFFFF;
            background-color: #083D77;
            border-color: #083D77;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title course-list-image">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>{{ lesson.title }}</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="course-details-area ptb-100">
        <div class="container">
            <div class="row">

                {#  Блок с видео и описанием  #}
                <div class="col-lg-8 col-md-12">
                    <div class="courses-details">
                        {% if lesson.video_url %}
                            <div class="plyr__video-embed" id="player">
                                <iframe src="{{ lesson.video_url }}" allowfullscreen allowtransparency
                                        allow="autoplay"></iframe>
                            </div>
                        {% endif %}

                        <h3>{{ lesson.title }}</h3>


                        <div class="course-details-tabs">
                            <ul id="tabs" class="d-md-flex justify-content-md-between tabs-align">
                                <li class="active" id="tab_1">{% trans 'Key takeaway' %}</li>
                                <li class="inactive" id="tab_2">{% trans 'Transcript' %}</li>
                                <li class="inactive" id="tab_3">{% trans 'Instructors' %}</li>
                                <li class="inactive" id="tab_4">{% trans 'FeedBack' %}</li>
                            </ul>

                            <div class="content show" id="tab_1_content">
                                <h4 class="title">{% trans 'Lesson Key Takeaway' %}</h4>
                                {% if lesson.content %}
                                    <p>{{ lesson.key_takeaway|safe }}</p>
                                {% endif %}
                            </div>

                            <div class="content" id="tab_2_content">
                                <h4 class="title">{% trans 'Lesson Transcript' %}</h4>
                                {% if lesson.content %}
                                    <p>{{ lesson.content|safe }}</p>
                                {% endif %}
                            </div>

                            <div class="content" id="tab_3_content">
                                <div class="course-author">
                                    <div class="img">
                                        <img src="{{ lesson.module.course.teacher.profile_image.url }}" alt="teacher">
                                    </div>

                                    <div class="author-content">
                                        <h4>{{ lesson.module.course.teacher.fullname }}</h4>
                                        <span>{{ lesson.module.course.teacher.position }}</span>
                                        <ul class="">
                                            {% if lesson.module.course.teacher.facebook %}
                                                <li><a href="{{ lesson.module.course.teacher.facebook }}"><i
                                                        class="icofont-facebook"></i></a></li>
                                            {% endif %}
                                            {% if lesson.module.course.teacher.twitter %}
                                                <li><a href="{{ lesson.module.course.teacher.twitter }}"><i
                                                        class="icofont-twitter"></i></a>
                                                </li>
                                            {% endif %}
                                            {% if lesson.module.course.teacher.linkedin %}
                                                <li><a href="{{ lesson.module.course.teacher.linkedin }}"><i
                                                        class="icofont-linkedin"></i></a></li>
                                            {% endif %}
                                            {% if lesson.module.course.teacher.instagram %}
                                                <li><a href="{{ lesson.module.course.teacher.instagram }}"><i
                                                        class="icofont-instagram"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                        <p>
                                            {% if current_lang == 'en' %}
                                                {{ lesson.module.course.teacher.about_en }}
                                            {% else %}
                                                {{ lesson.module.course.teacher.about_ru }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="content" id="tab_4_content">
                                <h4 class="title">{% trans 'Lesson Feedback: Did you like this lesson?' %}</h4>
                                <div class="creator-role-size">
                                    <button class=" creator-role-size btn btn-outline-dark" id="nice-feedback"><i
                                            id="like-icon" class="fa-solid fa-check"
                                            style="display: none"></i> {% trans 'Yes, I liked It' %}
                                    </button>
                                    <button class=" creator-role-size btn btn-outline-dark" id="bad-feedback"><i
                                            id="dislike-icon" class="fa-solid fa-xmark"
                                            style="display: none"></i> {% trans "No, I don't like it" %}
                                    </button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                {# Блок со следующими уроками #}
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="d-flex justify-content-between align-items-start next-lessons-block mb-5">
                        <div class="d-flex flex-column gap-1">
                            <div class="d-flex flex-column gap-s">
                                <strong>Status</strong>
                                <button id="finish-button" class="btn btn-primary">{% trans 'Finish Lesson' %}</button>
                            </div>
                            <div>
                                {% if next_lesson %}
                                    <div class="my-3">
                                        <strong>{% trans 'Next Lesson' %}</strong>
                                    </div>
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <a class="text-decoration-none"
                                           href="{% url 'lesson_detail' next_lesson.lesson.id %}">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="{{ next_lesson.lesson.thumbnail_url }}"
                                                         class="lesson-image img-fluid rounded-start"
                                                         alt="Изображение урока">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="lesson-title">
                                                            {{ next_lesson.lesson.module.position }}.{{ next_lesson.lesson.position }} {{ next_lesson.lesson.title }}
                                                        </h5>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="card-text">
                                                                <small
                                                                        class="text-muted"> {{ next_lesson.lesson.formatted_duration }}
                                                                </small>
                                                                {{ next_lesson.status }}
                                                            </p>

                                                            {% if next_lesson.status == 'in_progress' %}
                                                                <i class="fa-solid fa-hourglass-start text-warning"></i>

                                                            {% elif next_lesson.status == 'done' %}
                                                                <i class="fa-regular fa-circle-check text-success"></i>

                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <strong> Punctuation</strong>
                            </div>
                            {% for item in module_lessons %}
                                <div class="card mb-3"
                                     style="max-width: 540px; {% if item.lesson == current_lesson %}border-color:#007bff ;{% endif %}">
                                    <a class="text-decoration-none"
                                       href="{% url 'lesson_detail' item.lesson.id %}">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="{{ item.lesson.thumbnail_url }}"
                                                     class="lesson-image img-fluid rounded-start"
                                                     alt="Изображение урока">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="lesson-title">
                                                        {{ item.lesson.module.position }}.{{ item.lesson.position }} {{ item.lesson.title }}
                                                    </h5>
                                                    <div class="d-flex justify-content-between">
                                                        <p id="video-duration" class="card-text"><small
                                                                class="text-muted">{{ item.lesson.formatted_duration }}</small>
                                                            <i class="bi bi-hourglass-split text-warning"></i>
                                                        </p>
                                                        {% if item.status == "in_progress" %}
                                                            <i class="fa-solid fa-hourglass-start text-warning"></i>

                                                        {% elif item.status == 'done' %}
                                                            <i class="fa-regular fa-circle-check text-success"></i>

                                                        {% else %}

                                                        {% endif %}
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Plyr JS -->
    <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = new Plyr('#player', {
                controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'],
                settings: ['captions', 'quality', 'speed', 'loop'],
                quality: {default: 1080, options: [4320, 2880, 1440, 1080, 720, 480, 360, 240]},
                speed: {selected: 1, options: [0.5, 1, 1.5, 2]}
            });
            player.on('play', () => {
                const lessonId = '{{ lesson.id }}'
                fetch('/api/v1/lesson-progress/create/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        lesson: lessonId,
                        status: 'in_progress'
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.id) {
                            console.log('Прогресс успешно создан:', data);
                        } else {
                            console.error('Ошибка создания прогресса:', data);
                        }
                    }).catch(error => console.error('Ошибка:', error))
            })
        });
    </script>
    <script>
        document.getElementById('finish-button').addEventListener('click', () => {
            const lessonId = '{{ lesson.id }}';
            const nextLessonUrl = '{% if next_lesson %}{% url "lesson_detail" pk=next_lesson.lesson.id %}{% else %}{% url "course_detail" pk=lesson.module.course.id %}{% endif %}';
            fetch(`/api/v1/lesson-progress/${lessonId}/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF-токен
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error('Ошибка:', data.error);
                    } else {
                        console.log('Статус обновлен:', data);
                        window.location.href = nextLessonUrl

                    }
                })
                .catch(error => console.error('Ошибка:', error));
        });
    </script>

    <script>
        document.getElementById('nice-feedback').addEventListener('click', () => {
            const lessonId = '{{ lesson.id }}'
            const user = '{{ request.user.id }}'
            fetch('/api/v1/feedback/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF-токен
                },
                body: JSON.stringify(
                    {
                        lesson: lessonId,
                        user: user,
                        feedback_type: 'like',
                        text: ''
                    }
                )
            })
                .then(response => response.json())
                .then(data => {
                    const button = document.getElementById('nice-feedback');
                    const likeIcon = document.getElementById('like-icon')
                    button.style.backgroundColor = 'green';
                    button.style.color = 'white';
                    button.disabled = true; // Отключаем кнопку
                    likeIcon.style.display = 'inline-block'

                    const niceButton = document.getElementById('bad-feedback')
                    const dislikeIcon = document.getElementById('dislike-icon')

                    niceButton.style.background = 'white'
                    niceButton.style.color = 'black';
                    niceButton.disabled = false;
                    dislikeIcon.style.display = 'none'


                })
                .catch(error => console.error('Ошибка', error))
        })

        document.getElementById('bad-feedback').addEventListener('click', () => {
            const lessonId = '{{ lesson.id }}';
            const userId = '{{ request.user.id }}';

            fetch('/api/v1/feedback/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF-токен
                },
                body: JSON.stringify({
                    lesson: lessonId,
                    user: userId,
                    feedback_type: 'dislike',
                    text: ''
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Сервер вернул ошибку');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Feedback updated to dislike');
                    // Меняем стиль кнопки на красный и отключаем её
                    const button = document.getElementById('bad-feedback');
                    const dislikeIcon = document.getElementById('dislike-icon')
                    button.style.backgroundColor = 'red';
                    button.style.color = 'white';
                    button.disabled = true;
                    dislikeIcon.style.display = 'inline-block'

                    const niceButton = document.getElementById('nice-feedback')
                    const likeIcon = document.getElementById('like-icon')
                    niceButton.style.background = 'white'
                    niceButton.style.color = 'black';
                    niceButton.disabled = false;
                    likeIcon.style.display = 'none'


                })
                .catch(error => console.error('Ошибка:', error));
        });
    </script>

{% endblock %}
